---
layout: project
title: Hall Pass
cover_image: "/assets/images/2014/10/hall-pass-cover-800.jpg"
class: "page__project page__project--hall-pass"
color: "#00A0DC"
weight: 16

description: "Hall Pass is a simple app that allows students to enter school events seamlessly."

intro: "Hall Pass is a simple app that allows students to enter school events seamlessly."

scope:
  - Identity Design
  - Branding
---
<div class="grid">
  <div class="grid__col grid__col--8-of-12 grid__col--centered">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/hall-pass/logo.jpg", :alt => "Hall Pass Logo" }) %>
  </div>
</div>
<div class="grid">
  <div class="grid__col grid__col--6-of-12">
    <h3>Concepts</h3>
    <p>I started out sketching some thumbnail ideas, as I always do, and decided to move forward with a sort of play-button/ticket stub concept.</p>
    <p>Here are a bunch of early concepts I came up with. Some good, some bad, some horrible. That's the way the cookie crumbles, I guess.</p>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/hall-pass/concept-1.jpg", :alt => "Concept 1" }) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/hall-pass/concept-2.jpg", :alt => "Concept 2" }) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/hall-pass/concept-3.jpg", :alt => "Concept 3" }) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/hall-pass/concept-4.jpg", :alt => "Concept 4" }) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/hall-pass/concept-5.jpg", :alt => "Concept 4" }) %>
  </div>
  <div class="grid__col grid__col--12-of-12">
    <h3>Color Schemes</h3>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/hall-pass/color-scheme-1.jpg", :alt => "Scheme 1" }) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/hall-pass/color-scheme-2.jpg", :alt => "Scheme 2" }) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/hall-pass/color-scheme-3.jpg", :alt => "Scheme 3" }) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/hall-pass/color-scheme-4.jpg", :alt => "Scheme 4" }) %>
  </div>
</div>
