---
layout: project
title: Logos &amp; Marks
cover_image: "/assets/images/2014/10/logos-cover-800.jpg"
class: "page__project page__project--logos"
color: "#74CC87"
weight: 5

description: "A collection of random logos &amp; marks that I'm especially proud of."

intro: "This is a collection of logos and marks that I've designed for various companies as well as for side projects. Some were just for fun or experimentation."

scope:
  - Identity Design
  - Branding
  - Type Design
---
<div class="grid">

  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2015/06/logos/sshhh.jpg", :alt => "Sshhh Logo" }) %>
  </div>
  <div class="grid__col grid__col--6-of-12"><%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/logos/blitz-800.png", :alt => "Blitz" }) %></div>

  <div class="grid__col grid__col--6-of-12"><%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/logos/the-guild-800.jpg", :alt => "The Guild" }) %></div>

  <div class="grid__col grid__col--6-of-12"><%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/logos/zenworks-800.jpg", :alt => "Zenworks Yoga" }) %></div>

  <div class="grid__col grid__col--6-of-12"><%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/logos/blackbird-800.png", :alt => "Blackbird" }) %></div>

  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/logos/ministry-800.jpg", :alt => "The Ministry of Print" }) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/logos/apotheo-800.gif", :alt => "Apotheo" }) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/logos/bear-800.jpg", :alt => "Bear" }) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/logos/books-800.jpg", :alt => "Books" }) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/logos/chevron-800.png", :alt => "Chevron" }) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/logos/d-800.jpg", :alt => "D" }) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/logos/royal-courier-800.jpg", :alt => "Royal Courier" }) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/logos/royale-800.gif", :alt => "Royale" }) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/logos/s-800.jpg", :alt => "S" }) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/logos/squire-800.jpg", :alt => "Squire" }) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/logos/squire-lettermark-800.jpg", :alt => "Squire Lettermark" }) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/logos/usa-800.jpg", :alt => "USA" }) %>
  </div>

  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2015/06/logos/hammer-axe.jpg", :alt => "Hammer & Axe Logo" }) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2015/06/logos/lion.jpg", :alt => "Lion" }) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2015/06/logos/sword.jpg", :alt => "Sword" }) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2015/06/logos/usa.jpg", :alt => "USA Badge" }) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2015/06/logos/eagle.jpg", :alt => "USA Eagle Badge" }) %>
  </div>
</div>
