---
<!-- published: false -->
layout: project
title: From Troubled Times
cover_image: "/assets/images/2015/06/from-troubled-times/cover.png"
class: "page__project page__project--from-troubled-times"
color: "#8C9CAB"
weight: 1

description: "From Troubled Times is a digital and literary exploration of melancholy experienced in the daily life of a modern person with depression."

intro: "From Troubled Times is a digital and literary exploration of melancholy experienced in the daily life of a modern person with depression. This project is meant to stretch my views as a designer, writer, and human being. This is as much about art and thought as it is about design."

scope:
  - Design
  - Writing
  - Art Direction
---
<div class="grid">
  <div class="grid__col grid__col--6-of-12">
    <h3>Visual Explorations</h3>
    <p>These are explorations of modern melancholy, heartbreak, and emotional disconnect.</p>
  </div>
  <div class="clearfix"></div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2015/06/from-troubled-times/party.jpg", :alt => "Welcome to the Party" }) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2015/06/from-troubled-times/connects.jpg", :alt => "Everything Connects" }) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2015/06/from-troubled-times/heart.jpg", :alt => "You Lost All Your Heart" }) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2015/06/from-troubled-times/borgias.jpg", :alt => "Borgias" }) %>
  </div>
</div>
<hr class="hr--long"></hr>
<div class="grid">
  <div class="grid__col grid__col--6-of-12">
    <h3>The Book</h3>
    <p>I'm also self-publishing a book called <em>From Troubled Times</em>. It will include my poetry, prose, short stories, and analytical pieces—all of which deal in some way with depression, emotional disconnect, heartbreak, melancholy, and the disconnected life of modern individuals. It will be a limited run of 3 books: one for myself, one for my best friend, and one for the teacher who most influenced me during high school.</p>
    <p>Below are some spreads of the book.</p>
  </div>
  <div class="clearfix"></div>
  <div class="grid__col grid__col--12-of-12">
    <%= partial("full-width-image", :locals => { :url => "/assets/images/2015/06/from-troubled-times/book-cover.jpg", :alt => "Cover Image", :figcap => "This is the book cover for <em>From Troubled Times</em>." }) %>
  </div>
</div>
