---
<!-- published: false -->
layout: project
title: Remesh
cover_image: "/assets/images/2015/02/remesh-cover-800.jpg"
class: "page__project page__project--remesh"
color: "#3AC263"
permalink: /projects/locked/remesh/
weight: 2

description: "&lt;remesh is chat platform where a crowd can partake in conversation as if they are one person speaking with one voice."

intro: "I've been working closely with &lt;remesh for a while to redesign their web interface and to design a new iOS UI."

scope:
  - iOS Design
  - Web Design
---
<div class="grid">
  <div class="grid__col grid__col--6-of-12">
    <h2>Web App Interface</h2>
    <p>We started out with the web interface. I focused on whitespace and typography to give the content and the essential features the focus.</p>
  </div>
  <div class="clearfix"></div>
  <div class="grid__col grid__col--12-of-12">
    <h3>Sign Up and Sign In Screens</h3>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/remesh/sign-up.jpg", :alt => "Sign Up" }) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/remesh/sign-in.jpg", :alt => "Sign In" }) %>
  </div>
  <div class="grid__col grid__col--3-of-12">
    <h3>Empty State</h3>
    <p>Used when no conversation is selected.</p>
  </div>
  <div class="grid__col grid__col--9-of-12">
    <%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/remesh/empty-state.jpg", :alt => "Empty State" }) %>
  </div>
  <div class="grid__col grid__col--3-of-12">
    <h3>Waiting Screen</h3>
    <p>Shown when the other @user or &lt;mesh is currently speaking.</p>
  </div>
  <div class="grid__col grid__col--9-of-12">
    <%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/remesh/convo-waiting.jpg", :alt => "Conversation Waiting Screen" }) %>
  </div>
  <div class="grid__col grid__col--3-of-12">
    <h3>Voting Screen</h3>
    <p>It's shown when a user or that user's &lt;mesh is currently speaking. It allows a user to enter a response, vote on other responses, and view the responses that currently have the most votes. At the end of a countdown, the response with the most votes goes through to the other user or &lt;mesh in the conversation.</p>
  </div>
  <div class="grid__col grid__col--9-of-12">
    <%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/remesh/convo-voting.jpg", :alt => "Conversation, Voting" }) %>
  </div>
  <div class="grid__col grid__col--3-of-12">
    <h3>Starting a Conversation, Stage One</h3>
    <p>When a user wants to start a conversation, they enter this screen. It allows the user to choose a combination of @users or &lt;meshes who will partake in the conversation.</p>
  </div>
  <div class="grid__col grid__col--9-of-12">
    <%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/remesh/start-convo.jpg", :alt => "Start Conversation, Stage One" }) %>
  </div>
  <div class="grid__col grid__col--3-of-12">
    <h3>Starting a Conversation, Stage Two</h3>
    <p>During this stage, the user writes the basis of the conversation.</p>
  </div>
  <div class="grid__col grid__col--9-of-12">
    <%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/remesh/start-convo-2.jpg", :alt => "Start Conversation, Stage Two" }) %>
  </div>
</div>
<hr class="hr--long"></hr>
<div class="grid">
  <div class="grid__col grid__col--3-of-12">
    <%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/remesh/ios/launch.png", :alt => "Launch Screen" }) %>
  </div>
  <div class="grid__col grid__col--7-of-12 grid__col--push-1-of-12">
    <h2>iOS Interface</h2>
    <p>After working on the web interface, I had a good understanding of exactly what &lt;remesh does. With this in mind, Andrew, the founder of &lt;remesh, contacted me again to begin work on the iOS interface.</p>
    <p>This was only the third iOS project I've ever worked on, and it was the first full iOS app that I designed. The challenge and learning curve were both steep for me because I come from more of a traditional design background, but I surmounted the challenge. I've done quite a bit of web design, but now that I've had a chance to work with iOS I like designing for the iPhone so much more; I really appreciate and enjoy working within the contraints of absolute screen sizes.</p>
    <hr class="hr--long">
  </div>
  <div class="grid__col grid__col--12-of-12">
    <h3>@user and &lt;mesh views</h3>
  </div>
  <div class="grid__col grid__col--3-of-12">
    <%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/remesh/ios/meshes.png", :alt => "Meshes" }) %>
  </div>
  <div class="grid__col grid__col--3-of-12">
    <%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/remesh/ios/mesh.png", :alt => "Mesh" }) %>
  </div>
  <div class="grid__col grid__col--3-of-12">
    <%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/remesh/ios/users.png", :alt => "Users" }) %>
  </div>
  <div class="grid__col grid__col--3-of-12">
    <%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/remesh/ios/user.png", :alt => "User" }) %>
  </div>
  <div class="grid__col grid__col--12-of-12">
    <h3>Conversation Views</h3>
  </div>
  <div class="grid__col grid__col--3-of-12">
    <%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/remesh/ios/convos.png", :alt => "Convos" }) %>
  </div>
  <div class="grid__col grid__col--3-of-12">
    <p>This screen shows you conversations you have already joined and notifications for invitations to join conversations. If you have been invited to a conversation but haven't viewed it yet, the conversation is highlighted in a brighter green. If you've been invited to a conversation and viewed it, but haven't joined yet, it is highlighted in a slightly lighter shade of green.</p>
  </div>
  <div class="grid__col grid__col--3-of-12">
    <%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/remesh/ios/conversation-unjoined.png", :alt => "Unjoined Convo" }) %>
  </div>
  <div class="grid__col grid__col--3-of-12">
    <%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/remesh/ios/conversation-choosing.png", :alt => "Choosing Group to Speak As" }) %>
  </div>
  <div class="grid__col grid__col--3-of-12">
    <p>If you're viewing a conversation but haven't been invited to it, you will see the read-only state. Once you're in a conversation, though, you can access the voting and suggestion interface.</p>
  </div>
  <div class="grid__col grid__col--3-of-12">
    <%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/remesh/ios/conversation-read-only.png", :alt => "Read-Only Conversation" }) %>
  </div>
  <div class="grid__col grid__col--3-of-12">
    <%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/remesh/ios/conversation-suggesting.png", :alt => "Suggesting a Response" }) %>
  </div>
  <div class="grid__col grid__col--3-of-12">
    <%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/remesh/ios/conversation-speaking.png", :alt => "Voting on a Response" }) %>
  </div>
  <div class="grid__col grid__col--12-of-12">
    <h3>Starting a Conversation</h3>
  </div>
  <div class="grid__col grid__col--3-of-12">
    <p>When you want to start a new conversation, you go through three stages. You choose a user or &lt;mesh to speak as, then a user or &lt;mesh to speak with, and then choose whether you want the conversation to be public or private. That's it!</p>
  </div>
  <div class="grid__col grid__col--3-of-12">
    <%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/remesh/ios/new-convo-1.png", :alt => "New Convo Stage One" }) %>
  </div>
  <div class="grid__col grid__col--3-of-12">
    <%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/remesh/ios/new-convo-2.png", :alt => "New Convo Stage Two" }) %>
  </div>
  <div class="grid__col grid__col--3-of-12">
    <%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/remesh/ios/new-convo-3.png", :alt => "New Convo Stage Three" }) %>
  </div>
  <hr class="hr--long">
</div>
<div class="grid">
  <div class="grid__col grid__col--7-of-12 grid__col--centered">
    <h3>Conclusion</h3>
    <p>This project has been so much fun to work on. While it's still a work in progress and we're constantly changing things, I like the direction this is going in. I've learned a lot about UI design and how to follow UI guidelines like Apple's HID Guidelines. I can't wait until this project comes to fruition!</p>
  </div>
</div>
