---
layout: project
title: The Ministry of Print
cover_image: "/assets/images/2014/10/ministry-cover-800.jpg"
class: "page__project page__project--ministry"
color: "#0485FD"
weight: 4

description: "The Ministry of Print was a personal shop where I sold limited edition prints of the posters I design. I designed the posters, visual identity, and took care of production."

intro: "The Ministry of Print was a personal shop where I sold limited edition prints of the posters I design. I designed the posters, visual identity, and took care of production."

scope:
  - Design
  - Development
  - Branding
---
<div class="grid">
  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/ministry/crown.jpg", :alt => "Perception Poster" }) %>
  </div>

  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/ministry/synesthesia-2000.jpg", :alt => "Synesthesia Poster" }) %>
  </div>

  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/ministry/modern-influence-2000.jpg", :alt => "Modern Influence Poster" }) %>
  </div>

  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/ministry/wave-2000.jpg", :alt => "Wave Poster" }) %>
  </div>

  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/ministry/disruption-2000.jpg", :alt => "Disruption Poster" }) %>
  </div>

  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/ministry/retrograde-2000.jpg", :alt => "Retrograde Poster" }) %>
  </div>

  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/ministry/misaligned-2000.jpg", :alt => "Misaligned Poster" }) %>
  </div>

  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/ministry/column-2000.jpg", :alt => "Column Poster" }) %>
  </div>

  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/ministry/entangled-2000.jpg", :alt => "Entangled Poster" }) %>
  </div>

  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/ministry/confusion-2000.jpg", :alt => "Confusion Poster" }) %>
  </div>

  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/ministry/impression-2000.jpg", :alt => "Impression Poster" }) %>
  </div>

  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/ministry/magic-8-ball-2000.jpg", :alt => "Magic 8 Ball Poster" }) %>
  </div>

  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/ministry/oceania-2000.jpg", :alt => "Oceania Poster" }) %>
  </div>

  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/ministry/order-2000.jpg", :alt => "Order Poster" }) %>
  </div>

  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/ministry/perception-is-reality-2000.jpg", :alt => "Perception is Reality Poster" }) %>
  </div>

  <div class="grid__col grid__col--6-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2014/10/ministry/ping-2000.jpg", :alt => "Ping Poster" }) %>
  </div>
</div>