---
published: false
layout: project
title: The Taste of Medina County
cover_image: "/assets/images/2015/02/medina-cover-800.jpg"
class: "page__project page__project--medina"
color: "#D53717"
permalink: /projects/locked/medina/
weight: 3

description: "The Taste of Medina County is an annual food fair put on the United Way of Medina County to support local restaurants."

intro: "I worked with United Way to update the visual identity of The Taste of Medina County and to create some posters for advertising purposes."

scope:
  - Print Design
  - Branding
  - Identity Design
---
<div class="grid">
  <div class="grid__col grid__col--12-of-12">
    <h3>Poster Options</h3>
  </div>
  <div class="grid__col grid__col--6-of-12"><%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/medina/poster-1.jpg", :alt => "Poster Option 1" }) %></div>
  <div class="grid__col grid__col--6-of-12"><%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/medina/poster-2.jpg", :alt => "Poster Option 2" }) %></div>
  <div class="grid__col grid__col--6-of-12"><%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/medina/poster-3.jpg", :alt => "Poster Option 3" }) %></div>
  <div class="grid__col grid__col--6-of-12"><%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/medina/poster-4.jpg", :alt => "Poster Option 4" }) %></div>
  <div class="grid__col grid__col--6-of-12"><%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/medina/poster-5.jpg", :alt => "Poster Option 5" }) %></div>
  <div class="grid__col grid__col--6-of-12"><%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/medina/poster-7.jpg", :alt => "Poster Option 7" }) %></div>
</div>
<div class="grid">
  <div class="grid__col grid__col--12-of-12">
    <h3>Logo Options</h3>
  </div>
  <div class="grid__col grid__col--6-of-12"><%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/medina/logo-1.jpg", :alt => "Logo Option 1" }) %></div>
  <div class="grid__col grid__col--6-of-12"><%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/medina/logo-2.jpg", :alt => "Logo Option 2" }) %></div>
  <div class="grid__col grid__col--6-of-12"><%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/medina/logo-3.jpg", :alt => "Logo Option 3" }) %></div>
  <div class="grid__col grid__col--6-of-12"><%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/medina/logo-4.jpg", :alt => "Logo Option 4" }) %></div>
  <div class="grid__col grid__col--6-of-12"><%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/medina/logo-5.jpg", :alt => "Logo Option 5" }) %></div>
  <div class="grid__col grid__col--6-of-12"><%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/medina/logo-5a.jpg", :alt => "Logo Option 6" }) %></div>
  <div class="grid__col grid__col--6-of-12"><%= partial("full-width-image", :locals => { :url => "/assets/images/2015/02/medina/logo-6.jpg", :alt => "Logo Option 7" }) %></div>
</div>
