---
title: "Kindred"
cover_image: "/assets/images/2015/12/kindred/kindred-cover-800.jpg"
class: "page__project page__project-kindred"
color: "#3B5586"
weight: 3
layout: editorial-project

description: A magazine created in collaboration with [Julia Fletcher](http://www.juliafletcherphoto.com) to explore the intersection of design, illustration, and photo.

intro: "Kindred is a magazine created in collaboration with [Julia Fletcher](http://www.juliafletcherphoto.com) that explores the intersection of design, illustration, and photo, and the ways one can translate between these three distinct specializations. <span class='meta'>Documentation courtesy of Julia.</span>"

scope:
  - Design
  - Editorial
  - Illustration
---
<style>
  @media (max-width: 700px) {
    .grid .grid__col {
      padding-left: 0;
    }
  }
</style>

<div class="grid wrap">
  <div class="grid__col grid__col--12-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2015/12/kindred/1.jpg", :alt => "Kindred cover" }) %>
  </div>
</div>

<div class="grid wrap">
  <div class="grid__col grid__col--6-of-12 grid__col--centered">
    <p>I have always had a keen interest in the way design and photo interact. With that interest in mind, I had the opportunity to collaborate with a good friend and fantastic photographer, Julia Fletcher, on a project. We immediately decided that we wanted to create a printed magazine, but the concept was the part that truly interested me.</p>
    <p>Julia and I wanted to explore the way design and photo interact and relate. The idea was simple enough: Julia takes photos of manmade objects around the MICA campus, and I illustrate them however I see fit. Julia and I have similar styles and aesthetic interests, so the translation itself was no the challenge. The challenge was taking her photo, which is something captured and set in stone, into something living that can be altered freely to fit my simplified visual worldview.</p>
    <p>The ultimate result of this experiment was a very interesting new way of thinking about the interaction of design and photo. Multiple questions were posed, but many will have to be answered with more projects <span class="meta">(hint, hint, keep your eyes open!)</span>.</p>
  </div>
</div>

<div class="slick-container">
  <div class="grid">
    <div class="slick grid__col grid__col--7-of-12 grid__col--centered">
      <%= partial( "slide", :locals => {:url => "/assets/images/2015/12/kindred/person-1.jpg", :alt => "Julia holding up Kindred"}) %>
      <%= partial( "slide", :locals => {:url => "/assets/images/2015/12/kindred/person-2.jpg", :alt => "Julia holding up Kindred"}) %>
    </div>
  </div>
</div>

<div class="grid wrap">
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/kindred/1.jpg', :alt => 'Kindred spread #1'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/kindred/2.jpg', :alt => 'Kindred spread #2'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/kindred/3.jpg', :alt => 'Kindred spread #3'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/kindred/4.jpg', :alt => 'Kindred spread #4'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/kindred/5.jpg', :alt => 'Kindred spread #5'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/kindred/6.jpg', :alt => 'Kindred spread #6'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/kindred/7.jpg', :alt => 'Kindred spread #7'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/kindred/8.jpg', :alt => 'Kindred spread #8'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/kindred/9.jpg', :alt => 'Kindred spread #9'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/kindred/10.jpg', :alt => 'Kindred spread #10'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/kindred/11.jpg', :alt => 'Kindred spread #11'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/kindred/12.jpg', :alt => 'Kindred spread #12'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/kindred/13.jpg', :alt => 'Kindred spread #13'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/kindred/14.jpg', :alt => 'Kindred spread #14'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/kindred/15.jpg', :alt => 'Kindred spread #15'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/kindred/16.jpg', :alt => 'Kindred spread #16'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/kindred/17.jpg', :alt => 'Kindred spread #17'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/kindred/18.jpg', :alt => 'Kindred spread #18'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/kindred/19.jpg', :alt => 'Kindred spread #19'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/kindred/20.jpg', :alt => 'Kindred spread #20'}) %>
  </div>
</div>

<div class="grid">
  <div class="grid__col grid__col--6-of-12 grid__col--centered">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/kindred/me.jpg', :alt => 'Me! Pinning up Kindred spreads for crit.'}) %>
  </div>
</div>
