---
title: "Translation"
cover_image: "/assets/images/2015/12/translation/translation-cover-800.jpg"
class: "page__project page__project-translation"
color: "#70BBDD"
weight: 3
layout: editorial-project

description: A followup to [Kindred](/projects/kindred) created in collaboration with [Julia Fletcher](http://www.juliafletcherphoto.com) to further explore the intersection of design, illustration, and photo in reverse.

intro: "Translation is a magazine created as a followup to [Kindred](/projects/kindred) in collaboration with [Julia Fletcher](http://www.juliafletcherphoto.com) that explores the intersection of design, illustration, and photo, and the ways one can translate between these three distinct specializations. <span class='meta'>Documentation courtesy of Julia.</span>"

scope:
  - Design
  - Editorial
  - Illustration
---
<style>
  @media (max-width: 700px) {
    .grid .grid__col {
      padding-left: 0;
    }
  }
</style>

<div class="grid wrap">
  <div class="grid__col grid__col--12-of-12">
    <%= partial( "full-width-image", :locals => { :url => "/assets/images/2015/12/translation/2.jpg", :alt => "Translation cover" }) %>
  </div>
</div>

<div class="grid wrap">
  <div class="grid__col grid__col--6-of-12 grid__col--centered">
    <p>After exploring the way we can translate photo to design with <%= link_to "Kindred", "projects/kindred" %>, we decided to try to reverse the process to explore the dichotomy from another perspective. I created illustrations from my imagination (with a few that represent real places) and Julia was tasked with finding places and objects that look like my illustrations and photographing them.</p>
    <p>This posed a very interesting challenge not only for me in creating illustrations of places and objects without a reference, but primarily for Julia in finding things that look like my sometimes extremely challenging illustrations. There were two illustrations that she was unable to capture photos for, so that side of the page has to be left blank.</p>
    <p>The result of this continued experiment was a fascinating new way of thinking about the interaction of design and photo. Multiple questions were posed, but many will have to be answered with more projects <span class="meta">(hint, hint, keep your eyes open!)</span>.</p>
  </div>
</div>

<div class="slick-container">
  <div class="grid">
    <div class="slick grid__col grid__col--7-of-12 grid__col--centered">
      <%= partial( "slide", :locals => {:url => "/assets/images/2015/12/translation/2.jpg", :alt => "Translation cover"}) %>
      <%= partial( "slide", :locals => {:url => "/assets/images/2015/12/translation/1.jpg", :alt => "Translation spreads pinned up for crit"}) %>
    </div>
  </div>
</div>

<div class="grid wrap">
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/translation/2.jpg', :alt => 'Translation spread #2'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/translation/3.jpg', :alt => 'Translation spread #3'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/translation/4.jpg', :alt => 'Translation spread #4'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/translation/5.jpg', :alt => 'Translation spread #5'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/translation/6.jpg', :alt => 'Translation spread #6'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/translation/7.jpg', :alt => 'Translation spread #7'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/translation/8.jpg', :alt => 'Translation spread #8'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/translation/9.jpg', :alt => 'Translation spread #9'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/translation/10.jpg', :alt => 'Translation spread #10'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/translation/11.jpg', :alt => 'Translation spread #11'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/translation/12.jpg', :alt => 'Translation spread #12'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/translation/13.jpg', :alt => 'Translation spread #13'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/translation/14.jpg', :alt => 'Translation spread #14'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/translation/15.jpg', :alt => 'Translation spread #15'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/translation/16.jpg', :alt => 'Translation spread #16'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/translation/17.jpg', :alt => 'Translation spread #17'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/translation/18.jpg', :alt => 'Translation spread #18'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/translation/19.jpg', :alt => 'Translation spread #19'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/translation/20.jpg', :alt => 'Translation spread #20'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/translation/21.jpg', :alt => 'Translation spread #21'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/translation/22.jpg', :alt => 'Translation spread #22'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/translation/23.jpg', :alt => 'Translation spread #23'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/translation/24.jpg', :alt => 'Translation spread #24'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/translation/25.jpg', :alt => 'Translation spread #25'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/translation/26.jpg', :alt => 'Translation spread #26'}) %>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <%= partial( 'full-width-image', :locals => {:url => '/assets/images/2015/12/translation/27.jpg', :alt => 'Translation spread #27'}) %>
  </div>
</div>
