---
title: The Palace of Typographic Masonry
scope: "Poster Design"
description: "Ellen Lupton asked me to design a poster for a workshop and talk led by Richard Niessen, a remarkable designer from the Netherlands."
tag: culture
cover_image: /assets/images/2016/07/typographic-masonry/cover.png
---
<%= partial("partials/figure", :locals => { :img => "/assets/images/2016/07/typographic-masonry/Option-01.png" }) %>

<h2>Alternates</h2>

<%= partial("partials/figure", :locals => { :img => "/assets/images/2016/07/typographic-masonry/Option-02.png" }) %>

<%= partial("partials/figure", :locals => { :img => "/assets/images/2016/07/typographic-masonry/Option-03.png" }) %>

<%= partial("partials/figure", :locals => { :img => "/assets/images/2016/07/typographic-masonry/Option-06.png" }) %>

<%= partial("partials/figure", :locals => { :img => "/assets/images/2016/07/typographic-masonry/Option-09.png" }) %>