---
title: "Field Scout"
cover_image: "/assets/images/2016/03/field-scout/cover.jpg"
class: "page__project page__project-"
color: "#DA3A12"
weight: 1
layout: editorial-project

description: "A toy and packaging design targeted toward designers."

intro: "For the final project in my toy design class I was tasked with designing and creating a wooden toy using at least two types of motion and play, and designing and executing a brand and packaging for the toy."

scope:
  - Packaging
  - Branding
  - Toy design
---
<style>
  @media (max-width: 700px) {
    .grid .grid__col {
      padding-left: 0;
    }
  }
</style>

<div class="grid wrap">
  <div class="grid__col grid__col--6-of-12 grid__col--centered"><%= partial("full-width-image", :locals => { :border => 0, :url => "/assets/images/2016/03/field-scout/flap-logo.jpg", :alt => "Logo lockup for packaging flap" }) %></div>
  <div class="grid__col grid__col--12-of-12 grid__col--centered"><%= partial("full-width-image", :locals => { :border => 0, :url => "/assets/images/2016/03/field-scout/packaging-open.jpg", :alt => "Open packaging with toy" }) %></div>
</div>
<div class="grid wrap">
  <div class="grid__col grid__col--6-of-12 grid__col--centered">
    <p>Inspired by lifestyle brands like Ugmonk, I wanted to create a toy geared toward other designers with aesthetic taste similar to mine. The result, after research, a few bad ideas, and constant iteration, is Field Scout.</p>
    <p>This was my first time working with wood, designing a toy, and designing packaging, so it was a very helpful learning experience. Taking the project from initial idea sketches, moodboards, and word associations to final product and packaging was an extremely rewarding process.</p>
    <p>The most important part of my process was considering the packaging as a part of the toy—unboxing the toy should be just as much fun as playing with it. With that in mind, I decided to make the packaging into an airplane hangar, a literal and symbolic home for the airplane. Copywriting was also of great importance in this project, pulling the design together with strong typography and a good backstory.</p>
  </div>
</div>
<div class="grid wrap">
  <div class="grid__col grid__col--6-of-12"><%= partial("full-width-image", :locals => { :border => 0, :url => "/assets/images/2016/03/field-scout/bottom.jpg", :alt => "Packaging bottom" }) %></div>
  <div class="grid__col grid__col--6-of-12"><%= partial("full-width-image", :locals => { :border => 0, :url => "/assets/images/2016/03/field-scout/arrow-floor.jpg", :alt => "Packaging floor" }) %></div>
  <div class="grid__col grid__col--12-of-12 grid__col--centered"><%= partial("full-width-image", :locals => { :border => 0, :url => "/assets/images/2016/03/field-scout/photo-plane.jpg", :alt => "Wooden toy" }) %></div>
  <div class="grid__col grid__col--6-of-12"><%= partial("full-width-image", :locals => { :border => 0, :url => "/assets/images/2016/03/field-scout/die-template.jpg", :alt => "Die cut template" }) %></div>
  <div class="grid__col grid__col--6-of-12"><%= partial("full-width-image", :locals => { :border => 0, :url => "/assets/images/2016/03/field-scout/final-cut.jpg", :alt => "Final cut for packaging" }) %></div>
  <div class="grid__col grid__col--12-of-12"><%= partial("full-width-image", :locals => { :border => 0, :url => "/assets/images/2016/03/field-scout/packaging-front-closed.jpg", :alt => "Front of packaging" }) %></div>
  <div class="grid__col grid__col--6-of-12 grid__col--centered"><%= partial("full-width-image", :locals => { :border => 0, :url => "/assets/images/2016/03/field-scout/radar-icon.jpg", :alt => "Radar icon" }) %></div>
  <div class="grid__col grid__col--12-of-12"><%= partial("full-width-image", :locals => { :border => 0, :url => "/assets/images/2016/03/field-scout/packaging-back.jpg", :alt => "Back of packaging" }) %></div>
  <div class="grid__col grid__col--6-of-12 grid__col--centered"><%= partial("full-width-image", :locals => { :border => 0, :url => "/assets/images/2016/03/field-scout/front-flap.jpg", :alt => "Front packaging flap" }) %></div>
  <div class="grid__col grid__col--6-of-12 grid__col--centered"><%= partial("full-width-image", :locals => { :border => 0, :url => "/assets/images/2016/03/field-scout/end-flap.jpg", :alt => "Inside of front packaging flap" }) %></div>
</div>
