---
title: "Stoopwatch"
scope: Product Design, Logo
description: "Stoopwatch is Baltimore's new neighborhood crime alert. I designed an interface that makes it easy to report a crime quickly and walk home safely at night, while avoiding methods of enabling things like racial profiling by removing all unecessary report fields."
tag: technology, politics
cover_image: /assets/images/2018/03/stoopwatch/cover.png
filters: interaction
---
<% @image_dir = '/assets/images/2018/03/stoopwatch' %>

<div class="gc-spill">
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/1.png" }) %>
</div>

<div class="gc-spill dg dg-halves">
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/4.png" }) %>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/3.png" }) %>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/6.png" }) %>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/5.png" }) %>
</div>

<div class="gc-spill">
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/7.png" }) %>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/8.png" }) %>
</div>