---
title: "Analog"
scope: Identity, Motion Graphics
description: "Identity design for a speculative event at the intersection of typography and analog synthesis."
tag: culture
cover_image: /assets/images/2018/03/analog/cover.png
---
<% @image_dir = 'https://devinhalladay.imgix.net/2018/03/analog' %>
<div class="container">
  <div class="row center-xs">
    <div class="col-xs-12">
      <%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/1.png" }) %>
      <%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/5.png" }) %>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12 col-sm-6">
      <%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/3.png" }) %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <figure>
        <iframe src="https://player.vimeo.com/video/261672163" width="640" height="427" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </figure>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12 col-sm-6">
      <%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/4.png" }) %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/6.png" }) %>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12">
      <%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/7.png" }) %>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12"><%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/2.png" }) %></div>
  </div>
</div>
