---
title: "The Mercurial World"
scope: Art Direction, Development, Graphic Design
description: "A work of critical design exploring the world's state of constant crisis through abstraction in multiple media."
tag: politics, culture
cover_image: /assets/images/2018/11/mercurial-world/cover.png
filters: interaction print
published: true
categories: conceptual-art internet
---
<% @image_dir = '/assets/images/2018/11/mercurial-world' %>

<div class="gc-spill">
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/left-thumb.jpg" }) %>
</div>

<div class="gc-main">
  <h2>Introduction</h2>
  <p>
    The Mercurial World, an expansive work of critical design, responds to the world's modernity by articulating two viewpoints that work in tandem:
  </p>
  <ol>
    <li>That the world is in a state of constant, violent crisis that is accelerating beyond all control and comprehension.</li>
    <li>That, as an extension of our "modernity", we have thrown ourselves into technical realities that inhibit our access to the real by inscribing our understanding of the world within entirely artificial and militantly anti-human systems and apparatuses.</li>
  </ol>
  <p>
    This project aims, at the very least, to provoke new ways of thinking about the world; and ideally, to provoke new ways of seeing and acting in the world.
  </p>
  <p>
    The result is a four-part multimedia work that generates its own canon of ideas and aesthetics, merging my ideology and political assertions with my design practice and aesthetic framework.
  </p>
  <hr>

  <h2>1. Conceptual Still Life</h2>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/csl-1.jpg" }) %>
  <p>The first stage of this project was a still life photograph. The goal of this stage was to attempt to further distill my ideological viewpoint and to perform extended research into semiotics.</p>
  <p>These still lives paint a picture not quite of a world in crisis, but of a world made empty by human intervention and modernity. Themes in these photos include the world-destroying earth-resource extraction driving our technological modernity, the death of the self and the earth, and the emptiness of the world.</p>
</div>

<div class="gc-breakout">
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/csl-4.jpg" }) %>
</div>

<div class="gc-main">
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/csl-2.jpg" }) %>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/csl-3.jpg" }) %>
</div>

<div class="gc-breakout">
  <h2>2. VR and the Cartesian Grid</h2>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/solid-poster.jpg", :border => true }) %>
</div>

<div class="gc-main">
  <p>The second stage of this project explores technical realities at their root: the Cartesian understanding of the world. Focusing on the grid and its stranglehold on life, I created a virtual reality experience and fictional "map" of the unconscious that call the viewer to consider their world through a different lens.</p>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/solid-poster-d1.jpg", :border => true }) %>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/solid-poster-d2.jpg", :border => true }) %>
</div>

<div class="gc-breakout">
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/solid-poster-d3.jpg", :border => true }) %>
</div>

<div class="gc-main">
  <p>The virtual reality piece explores perception and being from within a Cartesian reality by throwing the viewer into a room lined with a grid, and faced with text that blurs and crosses itself out when viewed through both eyes.</p>
</div>

<div class="gc-breakout">
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/vr-iphone.png" }) %>
</div>

<div class="gc-main">
  <hr>
  <h2>2. Image as Critique & A Manifesto</h2>
  <p>This project's third stage consists of two websites intended to elicit strong emotional responses from the viewer by tying real-world imagery and graphics to my political ideology. This stage of the project stretched my ability to integrate political views with critical design work, while still making the work accessible.</p>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/disintegrate-1.jpg" }) %>
  <h3>Disintegrate</h3>
  <p>This web app, built with Javascript and the Are.na API, fetches two random images from <a href="https://www.are.na/devin-halladay/liquid-disintegration">this Are.na channel</a>. It compares images of a world in crisis, trapped by simulation and violence, giving the viewer time and space to contemplate the connection between each image and the world around them.</p>
  <p><a href="http://disintegrate.herokuapp.com/" class="button">See it in action &#8605;</a></p>

  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/vacuus-mundus.jpg", :border => true }) %>
  <h3>Vacuus Mundus</h3>
  <p>This website acts as a manifesto for the entire project, outlining my grievances with the modern world as well as my intent with this project. It was developed with Beaker Browser's exprimental peer-to-peer APIs, acting as a sacred document with a clear chain of provinance and the possibility of agonistic, peer-to-peer interaction.</p>
  <p><a href="dat://595111fcab584b6dbabe1436f9fd4c1a47f706ee3f29c9848cef7d1c09e69c87/" class="button">See it in action in Beaker Browser &#8605;</a></p>
  <hr>

  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/vacuus-mundus.jpg", :border => true }) %>
  <h3>Vacuus Mundus</h3>
  <p>This website acts as a manifesto for the entire project, outlining my grievances with the modern world as well as my intent with this project. It was developed with Beaker Browser's exprimental peer-to-peer APIs, acting as a sacred document with a clear chain of provinance and the possibility of agonistic, peer-to-peer interaction.</p>
  <p><a href="dat://595111fcab584b6dbabe1436f9fd4c1a47f706ee3f29c9848cef7d1c09e69c87/" class="button">See it in action in Beaker Browser &#8605;</a></p>
  <hr>

  <h2>3. Culmination</h2>
  <p>All this work culminated into one final image, intended to summarize the entire project. Inspired by an image in the Disintegration Are.na channel, I created an immense 24x36in. poster lined with the grid of the Twin Towers just before the first plane hit.</p>
  <p>This image, and the event it represents, are for me the markers of the beginning of the current global state of crisis, or at the very least the most significant reminder that the human world was always already in crisis. By collaging the windows of the building to form a giant grid, enveloping the plane, I indicate that the only way through this Cartesian nightmare is with force and spectacle. The image also draws into question the notions of truth, violence, and the grid itself.</p>
</div>

<div class="gc-breakout">
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/911.jpg" }) %>
</div>
