---
title: "BuyMeThis"
scope: Branding, Web Design, Product Design
description: Branding and product design for a new startup that puts a social spin on wishlists.
tag: technology
cover_image: /assets/images/2018/11/buymethis/cover.png
---
<% @image_dir = '/assets/images/2018/11/buymethis' %>
<div class="container">
  <div class="row center-xs">
    <div class="col-xs-12 col-md-8">
      <%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/logo-cover.jpg" }) %>
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12 col-md-6">
      <h3>Client</h3>
      <p>BuyMeThis is a new startup from Randall Malone aiming to make creating wishlists and sharing them with friends and family as simple and enjoyable as possible.</p>
      <hr>
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12 col-md-6">
      <h2>Brand Identity</h2>
      <p>The brand identity was developed to be simple, impactful, and extensible. Built priamrily around a logomark, the rest of the system is flexible.</p>
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12 col-md-6">
      <h3>Logo Process</h3>
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12 col-md-10">
      <%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/logo-process.jpg" }) %>
    </div>
    <div class="col-xs-12 col-md-5">
      <%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/wordmark-custom.jpg" }) %>
    </div>
    <div class="col-xs-12 col-md-5">
      <%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/logomark.jpg" }) %>
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12 col-md-6">
      <hr>
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12 col-md-6">
      <h2>Marketing Website</h2>
      <p class="u-font-center">
        <a href="https://buymethis.com/" class="button">Check it out live!</a>
      </p>
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12 col-md-10">
      <%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/website.png" }) %>
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12 col-md-6">
      <hr>
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12 col-md-6">
      <h2>Product & Design System</h2>
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12 col-md-10">
      <%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/ds-1.png" }) %>
    </div>
    <div class="col-xs-12 col-md-10">
      <%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/ds-2.png" }) %>
    </div>
    <div class="col-xs-12 col-md-6">
      The design system features a suite of simple components and rules to drive the engineering team during development, as well as to retain visual consistency throughout the platform.
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12 col-md-10">
      <%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/screen-1.png" }) %>
    </div>
    <div class="col-xs-12 col-md-10">
      <%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/screen-2.png" }) %>
    </div>
    <div class="col-xs-12 col-md-10">
      <%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/screen-3.png" }) %>
    </div>
    <div class="col-xs-12 col-md-10">
      <%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/screen-4.png" }) %>
    </div>
  </div>
</div>
