---
title: "Innovation Right Now"
scope: Editorial Design
description: "Critical editorial design for articles on innovation in the 21st century, drawing into question the validity of the capitalist acceleration implicit in the concept of innovation."
tag: culture
cover_image: /assets/images/2018/10/innovation-right-now/cover.png
filters: print
---
<% @image_dir = '/assets/images/2018/10/innovation-right-now' %>
<%# @image_dir = 'https://devinhalladay.imgix.net/2018/10/innovation-right-now' %>
<div class="container">
  <div class="row center-xs">
    <div class="col-xs-12">
      <%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/shot-1.png", :border => true }) %>
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12 col-md-6">
      <h2>Skeptical Callouts and Photography</h2>
      <p>Skeptical of the content's view of innovation, I took a critical and speculative approach to the design of the content, using photography and footnotes to establish a more serious and skeptical tone.</p>
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12">
      <%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/detail-1.png", :border => true }) %>
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12 col-md-6">
      <%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/detail-2.png", :border => true }) %>
    </div>
    <div class="col-xs-12 col-md-6">
      <%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/detail-4.png", :border => true }) %>
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12 col-md-6">
      <h2>Refined Type and Critical Lens</h2>
      <p>The refined typographic pallet of the magazine lets the story take a back seat to the editorial worldview, giving editorial spreads and critical callouts more attention.</p>
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12">
      <%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/detail-3.png", :border => true }) %>
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12 col-md-6">
      <h2>The Full Section</h2>
      <p>Feel free to give the whole special section a read and pay special attention to the callouts and the relationships between content and photography.</p>
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12">
      <figure>
        <div data-configid="22605255/65135476" style="width:100%; height:700px;" class="issuuembed"></div>
        <script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
      </figure>
    </div>
  </div>
</div>
