---
title: "Analog"
scope: Identity, Motion Graphics
description: "Identity design for a speculative event at the intersection of typography and analog synthesis."
tag: culture
cover_image: /assets/images/2018/03/analog/cover.png
filters: print identity
categories: identity
---
<% @image_dir = '/assets/images/2018/03/analog' %>

<div class="gc-spill">
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/1.png" }) %>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/5.png" }) %>
</div>

<div class="gc-main">
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/3.png" }) %>
  <figure>
    <iframe src="https://player.vimeo.com/video/261672163" width="640" height="427" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </figure>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/4.png" }) %>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/6.png" }) %>
</div>

<div class="gc-spill">
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/7.png" }) %>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/2.png" }) %>
</div>
