---
title: "Hyperion Scroll"
scope: Editorial Design
intro: An 8-foot scroll depicting John Keats' unfinished poem, "Hyperion".
filters: item-print
priority: 7
published: false
---
<% @image_dir = 'https://devinhalladay.imgix.net/2018/10/hyperion' %>
<%# @image_dir = '/assets/images/2018/10/hyperion' %>
<div class="container">
  <div class="row center-xs">
    <div class="col-xs-12">
      <%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/roll.png", :border => true }) %>
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12">
      <%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/roll.png", :border => true }) %>
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12 col-md-6">
      <%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/1.png", :border => true }) %>
    </div>
    <div class="col-xs-12 col-md-6">
      <%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/2.png", :border => true }) %>
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12 col-md-6">
      <%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/3.png", :border => true }) %>
    </div>
    <div class="col-xs-12 col-md-6">
      <%= partial("partials/lazyimg", :locals => { :img => "#{@image_dir}/4.png", :border => true }) %>
    </div>
  </div>
