---
title: "Elegance/Infection"
scope: Design, Photography
description: "An experimental book exploring the conceptual and formal construction of the typefaces Papyrus and Domaine Text."
tag: culture
cover_image: /assets/images/2018/03/elegance-infection/cover.png
filters: print
---

<% @image_dir = '/assets/images/2018/03/elegance-infection' %>

<div class="gc-spill">
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/1.jpg" }) %>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/6.jpg" }) %>
</div>

<div class="gc-spill dg dg-halves">
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/2.jpg" }) %>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/3.jpg" }) %>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/4.jpg" }) %>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/5.jpg" }) %>
</div>

<div class="gc-spill">
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/9.jpg" }) %>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/10.jpg" }) %>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/11.jpg" }) %>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/12.jpg" }) %>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/13.jpg" }) %>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/7.jpg" }) %>
</div>