---
title: Raf Simons Fall 19, "SUBSTANCE"
scope: Identity Design, Campaign Strategy
description: Identity system, photography, and campaign strategy for a speculative Raf Simons Fall/Winter 2019 line studying narcotics culture in the United States.
tag: culture, politics
cover_image: /assets/images/2018/10/raf-simons/cover.png
filters: print identity
featured: true
categories: identity conceptual-art
---
<% @image_dir = '/assets/images/2018/10/raf-simons' %>

<div class="gc-spill">
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/sticker.jpg" }) %>
</div>

<div class="gc-main">
  <h2>Introduction</h2>
  <p>
    “SUBSTANCE,” a speculative Raf Simons Fall/Winter 2019 line, responds to Simons’ Fall/Winter 2018 line, “Youth in Motion,” by placing its study of narcotics subculture into the context of the United States’ working class.
  </p>
  <p>
    By establishing a new, yet ultimately derivative, tactical identity system, “SUBSTANCE” probes the origins and nature of United States narcotics culture and its associated epidemics.
  </p>
  <p>
    The result is a new visual vernacular informed by the industrial and pharmaceutical origins of narcotics in the United States, interspliced with moments of absolute, aggressive decadence.
  </p>


  <h2>The Mark</h2>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/mark.jpg" }) %>
  <p>The core of the identity for this line is the above mark. The mark creates an indexical reference to narcotics culture but retains ties to industry, chemicals, and pharmaceuticals, becoming a deep symbol for the spectrum, pervasiveness, and effects of American drug abuse.</p>
  <p>By using stickers for the campaign's logo, the mark itself becomes heavily referential, reproducable, and guerilla, finding its way into bathrooms, alleyways, hospitals, classrooms, and homes.</p>
  <hr>
</div>

<div class="gc-breakout">
  <h2>Pill Bottles</h2>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/pills_3.jpg" }) %>
</div>

<div class="gc-main">
  <p>Another part of the campaign's geurilla marketing strategy was to litter bars, bathrooms, hospitals, and streets with these empty pill bottles filled with indexical references to Raf Simons' work as well as US narcotics culture. Retaining Simons' ties to Joy Division, the bottle also features numerous references to the band's album <em>Isolation</em>, even going so far as to embed a secret message in the barcode.</p>
</div>

<div class="gc-spill dg dg-halves">
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/pills_4.jpg" }) %>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/pills_1.jpg" }) %>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/pills_2.jpg" }) %>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/pills_5.jpg" }) %>
</div>

<div class="gc-spill">
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/pills.jpg" }) %>
</div>

<div class="gc-main">
  <hr>
  <h2>Photography Direction</h2>
</div>

<div class="gc-spill">
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/dispenser.jpg" }) %>
</div>

<div class="gc-main">
  <p>Photography was also essential to this campaign, although the photos do not feature any of the clothing from Simons' previous line. Instead, the photos reference the aesthetic culture of narcotics in the US — one that is utilitarian yet decadent, dirty yet sterile — in order to place the focus on the content of the garments rather than on the garments themselves.</p>
</div>

<div class="gc-spill dg dg-halves">
<%= partial("partials/figure", :locals => { :img => "#{@image_dir}/needles.jpg" }) %>
<%= partial("partials/figure", :locals => { :img => "#{@image_dir}/faucet.jpg" }) %>
<%= partial("partials/figure", :locals => { :img => "#{@image_dir}/light-scuff.jpg" }) %>
<%= partial("partials/figure", :locals => { :img => "#{@image_dir}/towels.jpg" }) %>
<%= partial("partials/figure", :locals => { :img => "#{@image_dir}/distorted-sticker.jpg" }) %>
<%= partial("partials/figure", :locals => { :img => "#{@image_dir}/window.jpg" }) %>
</div>

<div class="gc-main">
  <hr>
  <h2>Campaign Identity Guidelines</h2>
  <p>In addition to the campaign collateral, I created an identity guidelines book to document the strategies and processes embedded in this piece.</p>
</div>

<div class="gc-spill">
  <figure>
    <div data-configid="22605255/65139021" style="width:100%; height:900px;" class="issuuembed"></div>
    <script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
  </figure>
</div>