---
title: Public Domain Website
scope: "Design, Web Development"
description: "Custom React website designed and built for Public Domain, using <a href='https://prismic.io/'>Prismic</a> as the backend CMS."
cover_image: /assets/images/2019/10/public-domain-site/screen-recording-poster.jpg
filters: interaction, identity
featured: true
categories: internet
---
<div class="gc-breakout">
  <figure>
    <video src="/assets/images/2019/10/public-domain-site/screen-recording.mp4" poster="/assets/images/2019/10/public-domain-site/screen-recording-poster.jpg" autoplay preload="auto" muted="" loop="" playsinline=""></video>
  </figure>

  <%= partial("partials/figure", :locals => { :img => "/assets/images/2019/10/public-domain-site/1.png" }) %>
  <%= partial("partials/figure", :locals => { :img => "/assets/images/2019/10/public-domain-site/2.png" }) %>
  <%= partial("partials/figure", :locals => { :img => "/assets/images/2019/10/public-domain-site/3.png" }) %>
  <%= partial("partials/figure", :locals => { :img => "/assets/images/2019/10/public-domain-site/4.png" }) %>
  <%= partial("partials/figure", :locals => { :img => "/assets/images/2019/10/public-domain-site/5.png" }) %>

  <a href="https://github.com/devinhalladay/publicdomain-react" class="button button-forward">View source code</a>
</div>