---
title: "Kilotype"
scope: Web Design
description: "Designing a website for a new German type foundry, with Friends of the Web."
cover_image: /assets/images/2019/02/kilotype/cover.png
tag: culture
---
<%# @image_dir = '/assets/images/2019/02/kilotype' %>
<% @image_dir = 'https://devinhalladay.imgix.net/2019/02/kilotype' %>
<div class="container">
  <div class="row center-xs">
    <div class="col-xs-12 col-md-10">
      <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/mockup.jpg" }) %>
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12 col-md-6">
      <h2>Designed at Friends of the Web</h2>
      <p>
        This website was designed while interning at the wonderful design studio Friends of the Web in 2018, and is the result of close collaboration with the team and with Kilotype themselves.
      </p>
      <p class="u-font-center">
        <a href="https://kilotype.de/" class="button">Check it out live!</a>
      </p>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12 col-md-10">
      <hr>
      <h2>Early Iterations</h2>
      <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/1.png" }) %>
    </div>
    <div class="col-xs-12 col-md-10">
      <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/2.png" }) %>
    </div>
    <div class="col-xs-12 col-md-10">
      <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/3.png" }) %>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12 col-md-10">
      <hr>
      <h2>Round Two</h2>
      <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/4.png" }) %>
    </div>
    <div class="col-xs-12 col-md-10">
      <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/6.png" }) %>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12 col-md-10">
      <hr>
      <h2>Round Three</h2>
      <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/9.png" }) %>
    </div>
    <div class="col-xs-12 col-md-10">
      <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/10.png" }) %>
    </div>
    <div class="col-xs-12 col-md-10">
      <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/11.png" }) %>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12 col-md-10">
      <hr>
      <h2>Final</h2>
      <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/mockup.jpg" }) %>
      <p class="u-font-center">
        <a href="https://kilotype.de/" class="button">View the final site</a>
      </p>
    </div>
  </div>
</div>
