---
title: "Kilotype"
scope: Web Design
description: "Designing a website for a new German type foundry, with Friends of the Web."
cover_image: /assets/images/2019/02/kilotype/cover.png
tag: culture
external_url : https://kilotype.de
filters: interaction
---
<% @image_dir = '/assets/images/2019/02/kilotype' %>

<div class="gc-breakout hero-image">
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/mockup.jpg" }) %>
</div>


<div class="gc-main">
  <h2>Designed at Friends of the Web</h2>
  <p>
    This website was designed while interning at the wonderful design studio Friends of the Web in 2018, and is the result of close collaboration with the team and with Kilotype themselves.
  </p>
  <p class="u-font-center">
    <a href="https://kilotype.de/" class="button">Check it out live!</a>
  </p>
</div>
      

<div class="gc-breakout">
  <hr>
  <h2>Early Iterations</h2>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/1.png" }) %>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/2.png" }) %>  
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/3.png", :border => true }) %>

  <hr>
  <h2>Round Two</h2>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/4.png", :border => true }) %>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/6.png" }) %>

  <hr>
  <h2>Round Three</h2>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/9.png" }) %>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/10.png" }) %>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/11.png" }) %>

  <hr>
  <h2>Final</h2>
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/mockup.jpg" }) %>
  <p class="u-font-center">
    <a href="https://kilotype.de/" class="button">View the final site</a>
  </p>
</div>
