---
title: Still-Life, 2019
scope: "3D Modeling"
cover_image: /assets/images/2019/10/still-life/cover.png
filters: art
categories: conceptual-art
---
<div class="gc-spill">
  <%= partial("partials/figure", :locals => { :img => "/assets/images/2019/10/still-life/1.jpg" }) %>
  <%= partial("partials/figure", :locals => { :img => "/assets/images/2019/10/still-life/2.jpg" }) %>
  <%= partial("partials/figure", :locals => { :img => "/assets/images/2019/10/still-life/3.jpg" }) %>
  <%= partial("partials/figure", :locals => { :img => "/assets/images/2019/10/still-life/4.jpg" }) %>
  <%= partial("partials/figure", :locals => { :img => "/assets/images/2019/10/still-life/6.jpg" }) %>
</div>