---
title: "NCIC Inmate Communications"
scope: Product Design
description: "Designing an ethical, friendly, and personal inmate communications system."
cover_image: /assets/images/2019/02/ncic/cover.png
tag: technology, politics
filters: interaction
categories: software
---
<% @image_dir = '/assets/images/2019/02/ncic' %>

<div class="gc-breakout hero-image">
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/mockup.jpg" }) %>
</div>


<div class="gc-main">
  <h2>Designing with Ethics</h2>
  <p>
    NCIC is an inmate communications provider that produces software used by inmates, visitors, and prison administration to schedule visits, video and text chat with visitors and other inmates, and perform various administrative tasks.
  </p>
  <p>
    My primary concern with this project was to maintain a fine balance between functionality, ethics, personality, and professionalism. Working within the prison system made me nervous to say the least — we all know that the prison system is a historically unethical and corrupt industry — but I used this project as an opportunity to bake my ethics into a real-world product that can influence positive change in the lives of inmates and visitors.
  </p>
  <h2>Ethical Design Techniques</h2>
  <ul>
    <li><strong>Color:</strong> I used a selective palette of cool colors to make the product feel personal and friendly without crossing the fine line into being inappropriate for the subject matter at hand.</li>
    <li><strong>Names:</strong> Because I did not have access to inmate photos within the product, I had to make due with other means. I decided to feature names prominently throughout the application in order to make the experience as personal as possible.</li>
    <li><strong>Custom avatars:</strong> Lacking inmate photos made the chat experience feel dull, so I developed a system of custom avatars to make the product feel more friendly to the user.</li>
  </ul>
  
  
  
  
  <h2>Scheduling a Visit</h2>
  <p>I designed visitation scheduling to be as smooth as possible, reducing the number of steps involved to a total of four and building a design system that made the entire experience cohesive.</p>
  
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/visit-registration/1.png" }) %>
  
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/visit-registration/2.png" }) %>
  
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/visit-registration/3.png" }) %>
  
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/visit-registration/4.png" }) %>
  
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/visit-registration/5.png" }) %>
  
  
  
  <h2>Chat</h2>
  <p>Inmates on the NCIC platform can chat with each other. I designed a system of custom avatars where each inmate is assigned a unique color that is overlaid with a friendly face to make the experience personal and friendly without using inmate photos.</p>
  
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/chat/1.png" }) %>
  
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/chat/2.png" }) %>
  
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/chat/3.png" }) %>
  
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/chat/4.png" }) %>
  
  <h2>Backend Interface</h2>
  <p>I also had the opportunity to design the backend administrative interface for the product. This allowed me to extend the design system established on the frontend to more complex operations and views.</p>
  
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/backend/1.png" }) %>
  
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/backend/2.png" }) %>
  
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/backend/3.png" }) %>
  
  <%= partial("partials/figure", :locals => { :img => "#{@image_dir}/backend/4.png" }) %>
</div>