<% wrap_layout :layout do %>
  <div class="row center-xs">
    <div class="col-xs-12 col-sm-9 col-md-7 col-lg-6">
      <h1 class="u-font-mega u-font-center"><%= current_page.title %></h1>
      <article>
        <%= yield %>
      </article>
      <hr>
      <div class="u-font-meta u-font-mono">
        <% if current_page.data.meta %><%= current_page.data.meta %><% end %>
        <small>Published on <%= current_page.date.strftime('%A %-d %B %Y') %></small>
      </div>
    </div>
  </div>
  <%= partial "partials/latest-articles" %>
  <%= partial "partials/newsletter-form" %>
<% end %>
