<!doctype html>
<html>
  <head>
    <%= partial "partials/meta" %>

    <%= javascript_include_tag :contact, :async => true %>
  </head>

  <body class="<%= page_classes %>">

    <div class="container">

      <%= partial "partials/header" %>

      <%= yield %>

      <%= partial "partials/newsletter-form" %>

    </div>

    <%= partial "partials/footer" %>
  </body>

  <script type="text/javascript">
    $(document).ready(function() {
      $('form[data-parsley-validate]').parsley({
        trigger: 'change',
        successClass: "has-success",
        errorClass: "has-error",
        classHandler: function (el) {
          return el.$element.closest('div[data-field-span]');
        }
      });
    });
  </script>
</html>
