<!doctype html>
<html>
  <head>
    <%= partial "partials/meta" %>

    <script src="/javascripts/vendor/gridforms.js" async></script>
    <script src="/javascripts/vendor/parsley.js" async></script>
  </head>

  <body class="<%= page_classes %>">
    <div class="container">
      <header>
        <a href="/" class="header-brand">Devin Halladay</a>
        <div class="line"></div>
        <%= partial "partials/fullscreen-navigation" %>
      </header>

      <%= yield %>

      <%= partial("partials/section-title", :locals => { :title => "Latest Work" }) %>

      <section class="c-selected-work">
        <% blog('work').articles[0...2].each do |work| %>

          <% @dir = "/images/#{work.date.strftime('%Y/%m')}/#{work.title.downcase.gsub(' ', '-')}/cover" %>

          <a href="<%= work.url %>">
            <div class="c-work-overlay">
              <picture>
                <source media="(min-width: 1020px)" srcset="<%= @dir %>/large.png">
                <source media="(min-width: 900px)" srcset="<%= @dir %>/large-sm.png">
                <source media="(min-width: 680px)" srcset="<%= @dir %>/med.png">
                <source srcset="<%= @dir %>/small.png">
                <img alt="<%= work.title %>" srcset="<%= @dir %>/med.png">
              </picture>

              <h2 class="u-font-sans"><%= work.title %></h2>
            </div>
          </a>
        <% end %>
      </section>

    </div>
    <%= partial "partials/footer" %>
  </body>

  <script type="text/javascript">
    $(document).ready(function() {
      $('form[data-parsley-validate]').parsley({
        trigger: 'change',
        successClass: "has-success",
        errorClass: "has-error",
        classHandler: function (el) {
          return el.$element.closest('div[data-field-span]');
        }
      });
    });
  </script>
</html>
