<!doctype html>
<html>
  <head>
    <%= partial "partials/meta" %>
  </head>

  <body class="<%= page_classes %>">

    <div class="container">

      <%= partial "partials/header" %>

      <%= yield %>

    </div>

    <%= partial "partials/footer" %>

  </body>
</html>
