<!doctype html>
<html>
  <head>
    <%= partial "partials/meta" %>

    <%= yield_content :assets %>

    <%= yield_content :css %>
  </head>

  <body class="<%= page_classes %>">

    <%= partial "partials/header" %>

    <%= yield %>

    <%= partial "partials/footer" %>

    <%= javascript_include_tag "https://code.jquery.com/jquery-2.2.4.min.js", :async => true %>
    <%= javascript_include_tag "/assets/js/vendor/mixitup.min.js" %>
    <%= javascript_include_tag :all %>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

    <%= yield_content :js %>

    <script>
      !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
      arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
      d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
      insertBefore(d,q)}(window,document,'script','_gs');

      _gs('GSN-044261-H');
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-54086893-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-54086893-2');
    </script>

  </body>
</html>
