<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "Devin Halladay — Design, etc." %></title>
    <link rel="stylesheet" href="https://use.typekit.net/muz8ydr.css">
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/flickity/2.1.2/flickity.css" %>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/flickity/2.1.2/flickity.pkgd.min.js" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.1/mixitup.min.js"></script>
    <script type='text/javascript' src='//cdn.jsdelivr.net/jquery.marquee/1.4.0/jquery.marquee.min.js'></script>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <script>
      document.body.className = 'fade';
    </script>

    <div class="scroll-1 scroll">
      <div id="progress-1" class="progress-1"></div>
    </div>
    <div class="scroll-2 scroll">
      <div id="progress-2" class="progress-2"></div>
    </div>
    <div class="scroll-3 scroll">
      <div id="progress-3" class="progress-3"></div>
    </div>
    <div class="scroll-4 scroll">
      <div id="progress-4" class="progress-4"></div>
    </div>
    <div class="scroll-5 scroll">
      <div id="progress-5" class="progress-5"></div>
    </div>
    <div class="scroll-6 scroll">
      <div id="progress-6" class="progress-6"></div>
    </div>
    <div class="scroll-7 scroll">
      <div id="progress-7" class="progress-7"></div>
    </div>
    <div class="scroll-8 scroll">
      <div id="progress-8" class="progress-8"></div>
    </div>

    <div id="barba-wrapper">
      <div class="barba-container">

        <main>
          <div class="page-container grid">
            <%= yield %>
          </div>
        </main>


        <footer>
          <div class="page-container grid">
            <h3>Design, Etc.</h3>
            <p id="obliquestrategies">An Oblique Strategy: <em></em></p>
            <p class="u-font-caps"><a href="mailto:studio@devinhalladay.com">studio@devinhalladay.com</a></p>
          </div>
        </footer>
      </div>
    </div>

    <div class="popover"></div>

    <script>
      document.addEventListener("DOMContentLoaded", function(e) {
        document.body.className = '';
      });
    </script>

    <%= yield_content :scripts %>
  </body>
</html>
