<!doctype html>
<html>
  <head>
    <%= partial "partials/meta" %>
  </head>

  <body class="<%= page_classes %>">
    <div class="container">
      <header>
        <a href="/" class="header-brand">Devin Halladay</a>
        <div class="line"></div>
        <%= partial "partials/fullscreen-navigation" %>
      </header>

      <%= yield %>
    </div>
    <%= partial "partials/footer" %>
  </body>
</html>
