<!doctype html>
<html>
  <head>
    <%= partial "partials/meta" %>

    <%= yield_content :assets %>

    <%= yield_content :css %>
  </head>

  <body class="<%= page_classes %>">

    <div class="container">

      <%= partial "partials/header" %>

      <%= yield %>

    </div>

    <%= partial "partials/footer" %>

    <%= yield_content :js %>
  </body>
</html>
