<!doctype html>
<html>
  <head>
    <%= partial "partials/meta" %>

    <%= yield_content :assets %>

    <%= yield_content :css %>

    <!-- <style>
      .sr .c-section-divider,
      .sr .row {
        visibility: hidden;
      }
    </style> -->
  </head>

  <body class="<%= page_classes %>">

    <div class="container">

      <%= partial "partials/header" %>

      <%= yield %>

    </div>

    <%= partial "partials/footer" %>

    <%= yield_content :js %>
    <!-- <script>
      sr.reveal('.sr .c-section-divider');
      sr.reveal('.sr .row');
    </script> -->
  </body>
</html>
