<!doctype html>
<html>
  <head>
    <%= partial "meta" %>
    <% if current_page.data.color %>
      <style>
        html {
          background-color: <%= current_page.data.color %>
        }
      </style>
    <% end %>
  </head>

  <body class="<% if current_page.data.classes %><%= current_page.data.classes %><% end %>">
    <%= partial "header" %>

    <%= yield %>

    <%= partial "newsletter-form" %>
    <%= partial "footer" %>
  </body>
</html>
