<% wrap_layout :layout do %>

  <section class="hero hero--project">
    <a href="/" class="return-link"><span><svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z'></path><polyline points='9 22 9 12 15 12 15 22'></polyline></svg></span> Return home</a>
    <h1 class="hug"><%= current_page.title %></h1>
    <% if current_page.data.description %><h2 class="hug"><%= current_page.data.description %></h2><% end %>
    <p class="hug byline"><%= current_page.data.scope %></p>
  </section>

  <%= yield %>

  <% prev_project = current_article.article_previous %>
  <% next_project = current_article.article_next %>

  <% if prev_project %>
    <section class="project-nav">
      <div class="gc-main">
        <div class="archive-project interaction">
          <a href="<%= prev_project.url %>">
            <header>
              <p class="title">Next Project</p>
              <div class="left">
                <div class="thumbnail-wrapper">
                  <img src="<%= prev_project.data.cover_image %>" alt="">
                </div>
                <div class="project-meta">
                  <h2><%= prev_project.title %><span>&rarr;</span></h2>
                  <div class="meta"><%= prev_project.data.scope %></div>
                </div>
              </div>
            </header>
          </a>
        </div>
      </div>
    </section>
  <% else %>
    <section class="project-nav">
      <div class="gc-main">
        <div class="archive-project interaction">
          <a href="<%= next_project.url %>">
            <header>
              <p class="title">Previous Project</p>
              <div class="left">
                <div class="thumbnail-wrapper">
                  <img src="<%= next_project.data.cover_image %>" alt="">
                </div>
                <div class="project-meta">
                  <h2><%= next_project.title %><span>&rarr;</span></h2>
                  <div class="meta"><%= next_project.data.scope %></div>
                </div>
              </div>
            </header>
          </a>
        </div>
      </div>
    </section>
  <% end %>

<% end %>