<% wrap_layout :layout do %>
  <div class="container meta-section">
    <div class="row center-xs c-work-meta">
      <div class="col-xs-12 col-md-3">
        <h1><%= current_page.title %></h1>
        <p class="c-scope-list">
          <%= current_page.data.scope %>
        </p>
      </div>
      <div class="col-sm-12 col-md-5">
        <div class="intro">
          <p><%= current_page.data.intro %></p>
        </div>
      </div>
    </div>
  </div>

  <article>
    <%= yield %>
  </article>

  <div class="container-fluid"><%= partial "partials/latest-work" %></div>

  <div class="container"><%= partial "partials/newsletter-form" %></div>
<% end %>
