<section class="c-latest-articles">

  <% unless current_page.data.title == "Journal" %>
    <%= partial("partials/section-title", :locals => { :title => "Latest Articles" }) %>
  <% end %>

  <div class="row">
    <% if is_blog_article? %>
      <% items = blog('journal').articles.reject!{ |article| article.title == current_page.title }[0...2] %>
    <% elsif current_page.data.title == "Journal" %>
      <% items = blog('journal').articles %>
    <% else %>
      <% items = blog('journal').articles[0...2] %>
    <% end %>

    <% items.each do |article| %>
      <div class="article col-xs-12 col-sm-6">
        <a class="article-title" href="<%= article.url %>">
          <h1><%= article.title %></h1>
        </a>
        <span class="article-date u-font-meta"><%= article.date.strftime('%A %-d %B %Y') %></span>
        <p class="article-summary"><%= Nokogiri::HTML(article.summary).text %> <a href="<%= article.url %>">Read more</a></p>
      </div>
    <% end %>
  </div>
</section>
