<% if is_blog_article? %>
<% items = blog('work').articles.reject!{ |work| work.title == current_page.title }.sort_by!{ |work| work.data.priority }[0 .. 2] %>
<% section_title = "More Work" %>
<% else %>
<% items = blog('work').articles %>
<% section_title = "Selected Work" %>
<% end %>

<section class="c-selected-work container u-clearfix">
  <% if current_page.url == "/" %>
    <%= partial "partials/work-type" %>
  <% end %>
  <div class="projects">
    <% items.each_with_index do |work, index| %>
        <% if development? %>
          <% @img = "/assets/images/#{work.date.strftime('%Y/%m')}/#{work.url.gsub('/', '').gsub('work', '')}/cover.png" %>
        <% else %>
          <% @img = "https://devinhalladay.imgix.net/#{work.date.strftime('%Y/%m')}/#{work.url.gsub('/', '').gsub('work', '')}/cover.png" %>
        <% end %>

        <a href="<% if work.data.outbound_link %><%= work.data.outbound_link %><% else %><%= work.url %><% end %>" class="mix project <% if work.data.filters %><%= work.data.filters.split(', ').join(' ') %><% end %>" data-size="2x2"<% if work.data.outbound_link %>target="_blank"<% end %>>
          <picture>

            <source media="(min-width: 1200px)" data-srcset="<%= @img %>?w=800&amp;fm=jpg&amp;q=100, <%= @img %>?w=800&amp;fm=jpg&amp;q=100&amp;dpr=2 2x">

            <source media="(min-width: 768px) and (max-width: 992px)" data-srcset="<%= @img %>?w=992&amp;fm=jpg&amp;q=100, <%= @img %>?w=992&amp;fm=jpg&amp;q=100&amp;dpr=2 2x">

            <source media="(min-width: 480px) and (max-width: 768px)" data-srcset="<%= @img %>?w=768&amp;fm=jpg&amp;q=100, <%= @img %>?w=768&amp;fm=jpg&amp;q=100&amp;dpr=2 2x">

            <source media="(max-width: 480px)" data-srcset="<%= @img %>?w=480&amp;fm=jpg&amp;q=100, <%= @img %>?w=480&amp;fm=jpg&amp;q=100&amp;dpr=2 2x">

            <img alt="<%= work.title %>" class="lazyload" data-src="<%= @img %>?w=800&amp;fm=jpg&amp;q=100" data-srcset="<%= @img %>?w=800&amp;fm=jpg&amp;q=100&amp;dpr=2 2x">

          </picture>

          <div class="project-title">
            <div class="title"><%= work.title %></div>
            <span class="subtitle">
              <%= work.data.scope %>
            </span>
          </div>
        </a>
    <% end %>
  </div>
</section>
