<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

<!-- Use title if it's in the page YAML frontmatter -->
<title><% if current_page.data.title %><%= "#{current_page.data.title} &mdash; Devin Halladay" %><% else %>Devin Halladay, Graphic Designer and Writer<% end %></title>

<!-- Twitter Card -->

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:site" content="@devinhalladay">
<meta property="twitter:creator" content="@devinhalladay">
<meta property="twitter:title" content="<% if current_page.data.title %><%= "#{current_page.data.title} &mdash; Devin Halladay" %><% else %>Devin Halladay, Graphic Designer and Writer<% end %>">
<meta property="twitter:description" content="<% if current_page.data.intro %><%= current_page.data.intro %><% else %>I am a branding, print, and web designer in Baltimore, Maryland. I like making bold work with even bolder people.<% end %>">
<meta property="twitter:image" content="<% if current_page.data.social_image %><%= "http://devinhalladay.com" + current_page.data.social_image %><% else %>http://devinhalladay.com/assets/images/2016/07/seo-image.png <% end %>">

<!-- Facebook OpenGraph -->

<meta property="og:type" content="website">
<meta property="og:locale" content="en_us">
<meta property="og:url" content="http://devinhalladay.com<%= current_page.url %>">
<meta property="og:title" content="<% if current_page.data.title %><%= "#{current_page.data.title} &mdash; Devin Halladay" %><% else %>Devin Halladay, Graphic Designer and Writer<% end %>">
<meta property="og:description" content="<% if current_page.data.intro %><%= current_page.data.intro %><% else %>I am a branding, print, and web designer in Baltimore, Maryland. I like making bold work with even bolder people.<% end %>">
<meta property="og:image" content="<% if current_page.data.social_image %><%= "http://devinhalladay.com" + current_page.data.social_image %><% else %>http://devinhalladay.com/assets/images/2016/07/seo-image.png <% end %>">
<meta property="og:site_name" content="Devin Halladay">

<%= stylesheet_link_tag "https://use.typekit.net/ukx6tpn.css" %>
<%= stylesheet_link_tag :site %>

<%= javascript_include_tag "https://code.jquery.com/jquery-2.2.4.min.js", :async => true %>
<%= javascript_include_tag "https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js", :async => true %>
<%= javascript_include_tag :all, :async => true %>

<script>
  !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
  arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
  d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
  insertBefore(d,q)}(window,document,'script','_gs');

  _gs('GSN-044261-H');
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54086893-2', 'auto');
  ga('send', 'pageview');
</script>
