<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

<!-- Use title if it's in the page YAML frontmatter -->
<title><% if current_page.data.title %><%= "#{current_page.data.title} &mdash; Devin Halladay" %><% else %>Devin Halladay, Designer<% end %></title>

<!-- Twitter Card -->

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:site" content="@devinhalladay">
<meta property="twitter:creator" content="@devinhalladay">
<meta property="twitter:title" content="<% if current_page.data.title %><%= "#{current_page.data.title} &mdash; Devin Halladay" %><% else %>Devin Halladay, Designer<% end %>">
<meta property="twitter:description" content="<% if current_page.data.intro %><%= current_page.data.intro %><% else %>I am a multidisciplinary designer. I make ethical, egalitarian products and systems that make the world more human.<% end %>">
<meta property="twitter:image" content="<% if current_page.data.social_image %><%= "http://devinhalladay.com" + current_page.data.social_image %><% else %>http://devinhalladay.com/assets/images/2016/07/seo-image.png <% end %>">

<!-- Facebook OpenGraph -->

<meta property="og:type" content="website">
<meta property="og:locale" content="en_us">
<meta property="og:url" content="http://devinhalladay.com<%= current_page.url %>">
<meta property="og:title" content="<% if current_page.data.title %><%= "#{current_page.data.title} &mdash; Devin Halladay" %><% else %>Devin Halladay, Designer<% end %>">
<meta property="og:description" content="<% if current_page.data.intro %><%= current_page.data.intro %><% else %>I am a multidisciplinary designer. I make ethical, egalitarian products and systems that make the world more human.<% end %>">
<meta property="og:image" content="<% if current_page.data.social_image %><%= "http://devinhalladay.com" + current_page.data.social_image %><% else %>http://devinhalladay.com/assets/images/2016/07/seo-image.png <% end %>">
<meta property="og:site_name" content="Devin Halladay">

<%= stylesheet_link_tag "https://use.typekit.net/ukx6tpn.css" %>
<%= stylesheet_link_tag :site %>
