---
title: Field Scout
scope: "Art Direction, Branding, Packaging, Toy Design, Fabrication"
intro: "For the final project in my toy design class I was tasked with designing and creating a wooden toy using at least two types of motion and play, and designing and executing a brand and packaging for the toy."
filters: item-branding item-packaging
priority: 1
---
<div class="row center-xs">
  <div class="col-xs-12 col-sm-7 col-md-5">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/field-scout/flap-logo.jpg" }) %>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-7 col-md-6">
    <p>Inspired by lifestyle brands like Ugmonk, I wanted to create a toy geared toward other designers with aesthetic taste similar to mine. The result, after research, a few bad ideas, and constant iteration, is Field Scout.</p>
    <p>This was my first time working with wood, designing a toy, and designing packaging, so it was a very helpful learning experience. Taking the project from initial idea sketches, moodboards, and word associations to final product and packaging was an extremely rewarding process.</p>
    <p>The most important part of my process was considering the packaging as a part of the toy—unboxing the toy should be just as much fun as playing with it. With that in mind, I decided to make the packaging into an airplane hangar, a literal and symbolic home for the airplane. Copywriting was also of great importance in this project, pulling the design together with strong typography and a good backstory.</p>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/field-scout/packaging-open.jpg" }) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/field-scout/packaging-front-closed.jpg" }) %>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/field-scout/bottom.jpg" }) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/field-scout/arrow-floor.jpg" }) %>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/field-scout/die-template.jpg" }) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/field-scout/final-cut.jpg" }) %>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/field-scout/packaging-back.jpg" }) %>
  </div>
</div>
