---
title: Field Scout
scope: "Packaging, Toy Design"
intro: "For the final project in my toy design class I was tasked with designing and creating a wooden toy using at least two types of motion and play, and designing and executing a brand and packaging for the toy."
filters: item-branding item-packaging
grid_width: w3
priority: 7
---
<div class="row center-xs">
  <div class="col-xs-12 col-sm-7 col-md-5">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/field-scout/flap-logo.jpg" }) %>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-7 col-md-6">
    <p>Inspired by lifestyle brands like Ugmonk, I wanted to create a toy geared toward other designers with aesthetic taste similar to mine. The result, after research, a few bad ideas, and constant iteration, is Field Scout.</p>
    <p>This was my first time working with wood, designing a toy, and designing packaging, so it was a very helpful learning experience. Taking the project from initial idea sketches, moodboards, and word associations to final product and packaging was an extremely rewarding process.</p>
    <p>The most important part of my process was considering the packaging as a part of the toy—unboxing the toy should be just as much fun as playing with it. With that in mind, I decided to make the packaging into an airplane hangar, a literal and symbolic home for the airplane. Copywriting was also of great importance in this project, pulling the design together with strong typography and a good backstory.</p>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/field-scout/packaging-open.jpg" }) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/field-scout/packaging-front-closed.jpg" }) %>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <p>The plane's design went through many iterations involving sketches, prototypes, and nearly sawed off fingers in the wood shop. This is the final iteration, made out of pine and very lightly finished with tung oil to bring out the natural color of the wood (plus, it smells <strong>amazing</strong>).</p>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/field-scout/plane.jpg" }) %>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <h2>Packaging</h2>
    <p>The packaging for the plane was a very special challenge and I loved every second I spent designing it. From sketches, to prototypes, to printing, to diecutting, the entire process was enlightening.</p>
    <p>The primary function of the packaging was as an extension of the toy itself—it had to be attractive, fit well on shelves, house the toy, and be able to be played with as a toy in and of itself.</p>
    <p>While iterating I came up with the idea to make the package a hangar that houses the plane, and from there I encountered quite a few small design decisions like placing folds, countering the amount of tension in the arch with strong paper and reinforced structure, and considering the experience of opening the package and playing with the airplane.</p>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/field-scout/die-template.jpg" }) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/field-scout/final-cut.jpg" }) %>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <p>With the die tempalte designed for the packaging, and the outside of the packaging mostly designed, I moved on to the bottom and inside of the packaging.</p>
    <p>The bottom was inspired by airline tickets and "top secret" mission briefs that you'd see in a 007 movie, using bold typography and fun copy to build on the backstory of the toy attract my target audience.</p>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-4">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/field-scout/bottom.jpg" }) %>
  </div>
  <div class="col-xs-12 col-sm-4">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/field-scout/arrow-floor.jpg" }) %>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <p>I added some simple copy on a yellow background on the inner flap to draw attention and encourage play.</p>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-5">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/field-scout/front-flap.jpg" }) %>
  </div>
  <div class="col-xs-12 col-sm-5">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/field-scout/end-flap.jpg" }) %>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <p>I even designed a fun little icon to further reinforce the backstory of the toy and encourage a certain play-style for my user.</p>
  </div>
</div>
<div class="row center-xs">
  <div class="col-xs-8 col-sm-4">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/field-scout/radar-icon.jpg" }) %>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <h2>Conclusion</h2>
    <p>This project was extremely rewarding and I loved every bit of it. I learned quite a bit throughout the process and turned this into a product I'd be proud to sell (<i>hint hint</i> keep your eyes peeled! These will be available for purchase within the next few months!) I had never done any package design before this project, nor had I done any physical product design or production, so the entire process was very new to me and provided a great challenge.</p>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-10">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/field-scout/packaging-back.jpg" }) %>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <h3 class="u-font-center">Thanks for reading! You're awesome.</h3>
  </div>
</div>
