---
title: Hall Pass
scope: "Logo Design"
intro: "Hall Pass is a simple app that allows students to enter school events seamlessly. I was in charge of designing the logo and user-facing brand for the app while working at Leapwise in 2014."
context: "Designed at Leapwise Media in the summer of 2014."
filters: item-logo
priority: 6
---
<div class="c-colored_section" style="background-color: #1AA1DA">
  <div class="container">
    <div class="row center-xs tight-gutter">
      <div class="col-xs-12 col-sm-6">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 718.83 119.75"><title>Asset 1</title><path d="M186.85,117.55V68.34H151.12v49.22H126V0h25.08V45.45h35.74V0h25.08V117.55Z" style="fill:#fff"/><path d="M266.64,62.7c0-3.6-2.51-5.49-9.25-5.49a78.91,78.91,0,0,0-28.21,6v-21C234.5,39.81,246.26,37,257.39,37c28.21,0,33.54,12.07,33.54,29.62v50.94h-15l-3.45-6c-5.64,5-13.64,8.15-23,8.15-19.91,0-26.65-13.17-26.65-24.92,0-21.16,15.52-24.29,29.62-25.71l14.26-1.41Zm-10.5,20.06c-7.05.94-9.87,4.39-9.87,10.5,0,5.8,3.76,9.25,9.09,9.25,4.55,0,8.78-1.25,11.29-3.76V81.35Z" style="fill:#fff"/><path d="M336.39,118.18a43.1,43.1,0,0,1-7.21.63c-13.48,0-24.14-6.9-24.14-22.1V0H330V93.26c0,3,1.41,4.7,6.43,4.7Z" style="fill:#fff"/><path d="M379.49,118.18a43.1,43.1,0,0,1-7.21.63c-13.48,0-24.14-6.9-24.14-22.1V0h24.92V93.26c0,3,1.41,4.7,6.43,4.7Z" style="fill:#fff"/><path d="M446.1,117.55H421V0h39.81C492.19,0,503,18.34,503,38.4c0,20.38-10.82,38.4-42.16,38.4H446.1Zm0-63.32H461c12.54,0,14.89-9.56,14.89-15.67S473.53,22.88,461,22.88H446.1Z" style="fill:#fff"/><path d="M545.63,62.7c0-3.6-2.51-5.49-9.25-5.49a78.91,78.91,0,0,0-28.21,6v-21C513.5,39.81,525.26,37,536.39,37c28.21,0,33.54,12.07,33.54,29.62v50.94h-15l-3.45-6c-5.64,5-13.64,8.15-23,8.15-19.91,0-26.65-13.17-26.65-24.92,0-21.16,15.52-24.29,29.62-25.71l14.26-1.41Zm-10.5,20.06c-7.05.94-9.87,4.39-9.87,10.5,0,5.8,3.76,9.25,9.09,9.25,4.55,0,8.78-1.25,11.29-3.76V81.35Z" style="fill:#fff"/><path d="M641.87,62.07a67.64,67.64,0,0,0-25.23-5c-7.05,0-11,1.57-11,5.49,0,4.07,2.67,5,7.84,5.49,24.76,2.19,31.66,8.78,31.66,25.08,0,15-8.93,26.65-35.42,26.65-14.42,0-22.73-2.66-28.53-5v-21a76.08,76.08,0,0,0,27.9,6c8,0,11.6-1.57,11.6-5.49,0-4.07-2.67-5-7.84-5.49-24.76-2.19-31.66-8.78-31.66-25.08,0-16,10.34-26.65,34.48-26.65,14.26,0,21,1.88,26.17,4.08Z" style="fill:#fff"/><path d="M715.54,62.07a67.65,67.65,0,0,0-25.24-5c-7.05,0-11,1.57-11,5.49,0,4.07,2.66,5,7.84,5.49,24.76,2.19,31.66,8.78,31.66,25.08,0,15-8.93,26.65-35.42,26.65-14.42,0-22.73-2.66-28.53-5v-21a76.09,76.09,0,0,0,27.9,6c8,0,11.6-1.57,11.6-5.49,0-4.07-2.66-5-7.84-5.49-24.76-2.19-31.66-8.78-31.66-25.08,0-16,10.34-26.65,34.48-26.65,14.26,0,21,1.88,26.18,4.08Z" style="fill:#fff"/><polygon points="83.39 117.55 99.38 59.42 83.38 0.2 53.68 0.2 69.68 59.42 53.68 117.77 83.39 117.55" style="fill:#fff"/><polygon points="29.71 117.55 45.7 59.42 29.7 0.2 0 0.2 16 59.42 0 117.77 29.71 117.55" style="fill:#fff"/></svg>
      </div>
    </div>
  </div>
</div>

<div class="row center-xs tight-gutter">
  <div class="col-xs-12 col-sm-6">
    <p>During the summer of 2014, while working as a designer at Leapwise Media in Cleveland, OH, I had the opportunity to design the brand for a student ticketing app called Hall Pass. The app allowed students to purchase tickets to and enter sports events quickly and easily.</p>
  </div>
</div>

<div class="row center-xs tight-gutter">
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/hall-pass/concept-1.jpg", :border => true }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/hall-pass/concept-2.jpg", :border => true }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/hall-pass/concept-3.jpg", :border => true }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/hall-pass/concept-4.jpg", :border => true }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/hall-pass/concept-5.jpg", :border => true }) %>
  </div>
</div>

<div class="row center-xs tight-gutter">
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/hall-pass/color-scheme-1.jpg", :border => true }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/hall-pass/color-scheme-2.jpg", :border => true }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/hall-pass/color-scheme-3.jpg", :border => true }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/hall-pass/color-scheme-4.jpg", :border => true }) %>
  </div>
</div>
