---
title: Remesh
scope: "iOS Design, Web Design"
intro: "&#60;remesh is chat platform where a crowd can partake in conversation as if they are one person speaking with one voice."
filters: item-web-ui
grid_width: w3
priority: 19
published: false
---
<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :border => true, :img => "/assets/images/2016/07/remesh/speak.jpg" }) %>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <p>
      &#60;remesh is chat platform where a crowd can partake in conversation as if they are one person speaking with one voice. Andrew Konya and the guys over at remesh approached me in 2015 and asked me to redesign the entire conversation experience in the form of both a web and an iOS/Android app.
    </p>
    <p>
      This project was very challenging, with a lot of complex interactions to understand and map and many edge cases to cater to. Overall, though, it was a really rewarding process and it helped me gain a much better understanding of UX principles.
    </p>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :border => true, :img => "/assets/images/2016/07/remesh/desktop/sign-in.jpg" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :border => true, :img => "/assets/images/2016/07/remesh/desktop/sign-up.jpg" }) %>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <h2>Web App Design</h2>
    <p>
      We started out with the web interface. I focused on whitespace and typography to give the content and the essential features the focus.
    </p>
    <p>The interactions on desktop took a much more straightforward approach since elements had more room to breathe and expand across mulitple views or columns.</p>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :border => true, :img => "/assets/images/2016/07/remesh/desktop/convo-voting.jpg" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :border => true, :img => "/assets/images/2016/07/remesh/desktop/convo-waiting.jpg" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :border => true, :img => "/assets/images/2016/07/remesh/desktop/empty-state.jpg" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :border => true, :img => "/assets/images/2016/07/remesh/desktop/start-convo-2.jpg" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :border => true, :img => "/assets/images/2016/07/remesh/desktop/start-convo.jpg" }) %>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <h2>iOS</h2>

    <p>After working on the web interface, I had a good understanding of exactly what remesh does. With this in mind, Andrew, the founder of remesh, contacted me again to begin work on the iOS interface.</p>
    <p>This was only the third iOS project I've ever worked on, and it was the first full iOS app that I designed. The challenge and learning curve were both steep for me because I come from more of a traditional design background, but I surmounted the challenge. I've done quite a bit of web design, but now that I've had a chance to work with iOS I like designing for the iPhone so much more; I really appreciate and enjoy working within the contraints of absolute screen sizes.</p>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-3">
    <%= partial("partials/lazyimg", :locals => { :border => true, :img => "/assets/images/2016/07/remesh/ios/launch.png" }) %>
  </div>

  <div class="col-xs-12 col-sm-3">
    <%= partial("partials/lazyimg", :locals => { :border => true, :img => "/assets/images/2016/07/remesh/ios/meshes.png" }) %>
  </div>

  <div class="col-xs-12 col-sm-3">
    <%= partial("partials/lazyimg", :locals => { :border => true, :img => "/assets/images/2016/07/remesh/ios/mesh.png" }) %>
  </div>

  <div class="col-xs-12 col-sm-3">
    <%= partial("partials/lazyimg", :locals => { :border => true, :img => "/assets/images/2016/07/remesh/ios/users.png" }) %>
  </div>

  <div class="col-xs-12 col-sm-3">
    <%= partial("partials/lazyimg", :locals => { :border => true, :img => "/assets/images/2016/07/remesh/ios/user.png" }) %>
  </div>

  <div class="col-xs-12 col-sm-3">
    <%= partial("partials/lazyimg", :locals => { :border => true, :img => "/assets/images/2016/07/remesh/ios/convos.png" }) %>
  </div>

  <div class="col-xs-12 col-sm-3">
    <%= partial("partials/lazyimg", :locals => { :border => true, :img => "/assets/images/2016/07/remesh/ios/conversation-unjoined.png" }) %>
  </div>

  <div class="col-xs-12 col-sm-3">
    <%= partial("partials/lazyimg", :locals => { :border => true, :img => "/assets/images/2016/07/remesh/ios/conversation-choosing.png" }) %>
  </div>

  <div class="col-xs-12 col-sm-3">
    <%= partial("partials/lazyimg", :locals => { :border => true, :img => "/assets/images/2016/07/remesh/ios/conversation-read-only.png" }) %>
  </div>

  <div class="col-xs-12 col-sm-3">
    <%= partial("partials/lazyimg", :locals => { :border => true, :img => "/assets/images/2016/07/remesh/ios/conversation-suggesting.png" }) %>
  </div>

  <div class="col-xs-12 col-sm-3">
    <%= partial("partials/lazyimg", :locals => { :border => true, :img => "/assets/images/2016/07/remesh/ios/conversation-speaking.png" }) %>
  </div>

  <div class="col-xs-12 col-sm-3">
    <%= partial("partials/lazyimg", :locals => { :border => true, :img => "/assets/images/2016/07/remesh/ios/new-convo-1.png" }) %>
  </div>

  <div class="col-xs-12 col-sm-3">
    <%= partial("partials/lazyimg", :locals => { :border => true, :img => "/assets/images/2016/07/remesh/ios/new-convo-2.png" }) %>
  </div>

  <div class="col-xs-12 col-sm-3">
    <%= partial("partials/lazyimg", :locals => { :border => true, :img => "/assets/images/2016/07/remesh/ios/new-convo-3.png" }) %>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <h2>Visual Explorations</h2>

    <p>After the project had finished, I was fascinated by remesh's concept and I took a little time to create some visual explorations of the brand for fun.</p>
  </div>
</div>

<div class="row center-xs">

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :border => true, :img => "/assets/images/2016/07/remesh/badge.jpg" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :border => true, :img => "/assets/images/2016/07/remesh/brain.jpg" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :border => true, :img => "/assets/images/2016/07/remesh/building.jpg" }) %>
  </div>
</div>
