---
title: Echoes of Nothing
scope: "Lighting Design, Sound Design, Art Direction, Technical Installation"
intro: "Echoes of Nothing is a piece that explores distortion of reality and alteration of consciousness through sound and light, anchored by the concept of heaven, hell, and purgatory in order to further evoke an emotional response from a viewer. Another collab with Julia Fletcher. Documentation by Julia."
filters: item-sculpture item-sound
priority: 1
---
<div class="row center-xs">
  <div class="col-xs-12 col-sm-9">
    <iframe src="https://player.vimeo.com/video/165029502" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <p>
      <strong>Echoes of Nothing is my greatest artistic achievement to date.</strong> It is the culmination of all of my work over the past year and a half: <strong>a piece that explores distortion of reality and alteration of consciousness through sound and light.</strong>
    </p>
    <h2>Precursor</h2>
    <p>I have long been interested in space, abstraction, sound, color, light, and something I call "the poetry of atmosphere." For the past year and a half I have been creating work that deals intimately and primarily with the abstraction of space: color field paintings and drawings that represent space in a 2D manner, sculptures that deal with space as a material, sound pieces that create a feeling of space or augment the space around the listener, poetry that describes space, installations that change space.</p>
    <p>After spending that long amount of time researching, sketching ideas in physical space, and thinking long and hard about this installation, I finally made it happen at the end of last year over the course of about a month.</p>
    <h2>Process</h2>
    <p>The process for Echoes of Nothing was, to make a long story short, gruelling and absolutely the most challenging thing I have ever done in my life. It involved staying up for five days straight (yeah, you read that right), chipping teeth, falling down stairs by myself at 4am, electric shocks, many failures, and endless disbelief until I was finally standing in the finished installation waiting for critique</p>
    <p>Inspired by John Cage, Brian Eno, Richard Serra, and Bruce Naumann, I brought together my passions for sound art, light, sculpture, poetry, and installation art to create this piece.</p>
    <p>Materials used include lots and lots of batteries, 35 LED strips, 7 flights of stairs, a narrow corridor, spandex, dual channel sound, and blood, sweat, and tears.</p>
  </div>
</div>

<div class="row center-xs tight-gutter">
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/08/echoes-of-nothing/image-13.jpg" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/08/echoes-of-nothing/image-11.jpg" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/08/echoes-of-nothing/image-9.jpg" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/08/echoes-of-nothing/image-5.jpg" }) %>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <h2>Sound</h2>
    <p>The sound art I created for this piece is entirely generative, created using found sounds that were then mangled and processed in Ableton Live. The pieces, individually, are meant to evoke a sense of purgatory, heaven, and hell, respectively</p>
    <p><strong>While played and heard together inside the installation, however, the sounds take on a life of their own.</strong> The many different voices in each piece interplay tangibly and at times overwhelmingly, evoking a flush of emotion and hightened senses from the viewer. The sound, in combination with the light, take you to another place entirely and strip you of your sense of self, <strong>effectively elevating your consciousness and altering your perception of reality</strong>.</p>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-8">
    <h3>Purgatory</h3>
    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/262152290&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
  </div>
</div>
<div class="row center-xs">
  <div class="col-xs-12 col-sm-8">
    <h3>Hell</h3>
    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/261963073&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
  </div>
</div>
<div class="row center-xs">
  <div class="col-xs-12 col-sm-8">
    <h3>Heaven</h3>
    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/261827247&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <h2>Lighting</h2>
    <p>I achieved the lighting by using many, many LED strips, powered by a little bit of ingenuity to make them run on batteries for long periods of time. In addition, some strips would not create the colors I wanted so I had to clip wires, connect ones that didn't belong, and mix color channels to make them work the way I needed them to.</p>
    <p>The technical work that went into this installation was the most intense process I have gone through while working on a piece of art. Despite that, the outcome was clear and very successful.</p>
    <h2>Lighting Concept</h2>
    <p>The concept for the lighting was, again, to alter the viewer's perception of reality and enhance their consciousness. The achieve that result, I used the visual effect of stereotypical descriptions of heaven, hell, and purgatory as they relate to color in order to exploit a deep-seated religious bias in the minds of humans, specifically those exposed to western culture, to create a strong emotional response.</p>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/08/echoes-of-nothing/image-1.jpg" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/08/echoes-of-nothing/image-2.jpg" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/08/echoes-of-nothing/image-3.jpg" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/08/echoes-of-nothing/image-4.jpg" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/08/echoes-of-nothing/image-6.jpg" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/08/echoes-of-nothing/image-7.jpg" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/08/echoes-of-nothing/image-8.jpg" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/08/echoes-of-nothing/image-10.jpg" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/08/echoes-of-nothing/image-12.jpg" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/08/echoes-of-nothing/image-14.jpg" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/08/echoes-of-nothing/image-15.jpg" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/08/echoes-of-nothing/image-16.jpg" }) %>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <h2>Outcome</h2>
    <p>Echoes of Nothing has been the most successful piece of art I've ever created. It will pave the way for a large breadth of my future work, many pieces of which are currently in planning stages already. I was approached to have this piece included in the MICA Foundation Exhibition, but sadly I had to turn down the honor because installing this piece again would have added too much to my plate during an already horribly stressful time.</p>
    <p>Many, many people filtered through the installation during the one day it was installed, and I recieved an overwhelmingly positive response from the MICA community. All in all, I'm more proud of this than anything else I have ever created.</p>
  </div>
</div>
