---
title: The Palace of Typographic Masonry
scope: "Poster Design"
intro: "Ellen Lupton asked me to design a poster for a workshop and talk led by Richard Niessen, a remarkable designer from the Netherlands."
filters: item-poster item-print item-branding
grid_width: w3
priority: 10
---
<div class="container">
  <div class="row center-xs">
    <div class="col-xs-12 col-sm-6">
      <h2>The Final Poster</h2>
      <%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/07/typographic-masonry/Option-01.png" }) %>
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12"><h2>Alternates</h2></div>
    <div class="col-xs-12 col-sm-6">
      <%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/07/typographic-masonry/Option-02.png" }) %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/07/typographic-masonry/Option-03.png" }) %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/07/typographic-masonry/Option-06.png" }) %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/07/typographic-masonry/Option-09.png" }) %>
    </div>
  </div>
</div>
