---
title: "Faraday"
scope: Product Design
intro: "Faraday is a self-initiated project with the goal of designing an iOS and macOS app that makes VPNs more accessible and simple for those who wish to protect themselves in Trump's America."
filters: item-web-ui, item-ux
grid_width: w3
priority: 5
---
<div class="container">
  <div class="row center-xs">
    <div class="col-xs-12 col-sm-9 col-md-7 col-lg-6 u-font-center">
      <div class="c-colored_section" style="height: 200px; background-color: #3F98FE">
        <svg height="120px" viewBox="4 -1 118 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch -->
            <path d="M103.523787,76.5747645 C103.153895,77.3722299 102.771156,78.1578735 102.382669,78.9381129 L102.377936,23.5728682 C105.556835,23.9819028 108.764812,24.2507645 111.939655,24.6172405 C113.118979,24.7303921 113.844898,25.0249241 113.844898,26.4300304 C113.594698,43.8097778 110.895574,60.6683522 103.523787,76.5747645 M84.6704971,103.187007 L84.6704971,19.149823 C88.2172593,20.4779187 91.8637636,21.5645118 95.6154198,22.3960916 L95.6215057,90.3292698 C92.3672077,94.9836847 88.7092077,99.2631794 84.6704971,103.187007 M66.2726404,117.230302 L66.2726404,9.62583629 C70.0273395,12.1384772 73.9034198,14.359964 77.9083195,16.270706 L77.9083195,109.152967 C74.2699298,112.071264 70.3847206,114.758193 66.2726404,117.230302 M47.8744456,110.661767 L47.8744456,16.3470411 C49.5183309,15.6005783 51.1483539,14.8034507 52.7614713,13.9448496 C55.0481017,12.7109905 57.2857063,11.3295278 59.5104628,9.91834161 L59.5104628,117.480924 C55.4237407,115.456355 51.5371791,113.190621 47.8744456,110.661767 M30.1615974,93.9882884 L30.1673453,22.2437592 C33.8757235,21.4091395 37.5272994,20.3681448 41.1122679,19.0869985 L41.1122679,105.4649 C37.1100731,102.044682 33.4463252,98.2316421 30.1615974,93.9882884 M14.1335458,57.2920437 C12.6820444,49.814581 12.0693911,42.2462592 11.9561246,34.6330145 C11.9561246,32.0950411 11.9108181,29.4891767 11.9561246,26.9059427 C11.9561246,24.9347405 12.2736089,24.7307299 14.2471504,24.5719799 C17.3334083,24.3446634 20.3855172,23.9957512 23.4048295,23.5262565 L23.400096,83.6489347 C18.8954713,75.4094719 15.987735,66.5532485 14.1335458,57.2920437 M112.846125,16.7320943 C111.50789,16.5963124 110.192308,16.4601927 108.854073,16.324073 C105.678554,16.0069108 102.706915,15.6897485 99.8258897,15.1685757 C88.961437,13.1517751 78.9135172,8.82397991 69.1827436,2.00347193 C65.6670874,-0.534163708 61.4255115,-0.692913708 57.6376777,1.70894002 L56.5263138,2.41149321 C53.940457,4.0655331 51.4908582,5.62905172 49.018606,6.94329906 C38.6075573,12.5174507 27.0395,15.6897485 13.634159,16.6642033 C4.96944269,17.3441262 4.01698997,24.0511448 4.01698997,26.7475304 C3.99433668,28.53769 3.99433668,30.3504799 4.01698997,32.1403017 L4.01698997,34.7461661 C4.15290974,43.4926155 4.90182092,51.3780996 6.35332235,58.832932 C8.91618768,71.7713948 13.180755,82.7612858 19.3728811,92.4365916 C28.4686862,106.757193 41.6468181,117.973387 58.6131218,125.858871 C59.9060501,126.447935 61.4031963,126.742804 62.9000043,126.742804 C64.7825946,126.742804 66.5519183,126.266892 67.9128066,125.47348 C87.464967,114.325514 101.868067,99.0078283 110.736663,79.9061501 C117.858589,64.4979427 121.488188,47.0503044 121.783019,26.4303682 C121.783019,21.9890836 118.947976,17.2758975 112.846125,16.7320943" id="Fill-1-Copy" stroke="none" fill="#ffffff" fill-rule="evenodd"></path>
        </svg>
      </div>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12 col-sm-7 col-md-6">
      <p>Around the world, many people face surveillance, internet blocks and firewalls, sanctions, and fear of imprisonment from their governments. This abuse of the internet, an inherently free and open space for ideas to form and change, strips people of their freedoms of speech and expression and prevents simple joys like watching movies or catching up with old friends on Facebook.</p>

      <p>Many people in these countries use VPNs to bypass government blocks in websites that enable free communication and access to outside journalism. However, VPNs can also help anonymize users and keep them safe from hacking, surveillance, logging, and identity theft.</p>

      <p>In Trump’s America, I think it is absolutely necessary that all Americans who have any wish to oppose the policies and actions of Trump and his cabinet have easy access to VPN technology so they can remain safe and free.</p>

      <p>However, all consumer VPN apps and services I have come across are confusing, use lingo and technology terms that most people will not understand, have horrible interfaces, and make the barrier to entry for potential VPN users too high. <strong>I think this needs to change. So I designed Faraday, an accessible VPN app for iOS and macOS</strong>.</p>
    </div>
  </div>

  <div class="row top-xs row-center-xs">
    <div class="col-xs-12 col-md-10">
      <%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/devicesmockup.png" }) %>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12 col-sm-6">
      <h1 class="u-font-center">Competitive Analysis</h1>
      <!-- <p>VPN apps for iOS and macOS/OS X are complicated, technologically sophisticated, and filled with features. This isn't necessarily a bad thing, but when the average user of the product isn't in the a tech or design industry the odds are that they won't know what the interface means or what to do after downloading the app. Even then, if they manage to figure out what to do after downloading, they are constantly insecure that perhaps they did something wrong and don't have a secure connection. Even I have felt this way many times.</p> -->
      <p>To kick off the process of designing Faraday, I began with a competitive analysis of a few of these apps to help me define user personas and to identify flaws in the way things are currently done in popular VPN apps in the US.</p>
      <hr>
    </div>
  </div>

  <div class="row center-xs u-font-sans">
    <div class="col-xs-12 col-sm-7 col-md-4">
      <h3><a href="http://www.getcloak.com">Cloak VPN</a></h3>
      <div class="box">
        <div class="box-header">
          Ratings
        </div>
        <div class="box-body">
          UX: 3/5<br>
          UI: 4/5<br>
          Accessibility: 3/5
        </div>
      </div>
      <p>Cloak is a VPN app for Mac and iOS (which started as a Mac-only app). It seems to be geared only toward Silicon Valley/startup types of users, and has historically only been used by designers from what those I spoke to about the app told me.</p>
      <p>While Cloak does a decent job of keeping technology terms out of the interface to make it more accessible, the user experience breaks down in several places and becomes awkward and confusing. Additionally, the app doesn’t really explain what it does or why an average user might need or want it.</p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-4">
      <h3><a href="http://www.privateinternetaccess.com">Private Internet Access</a></h3>
      <div class="box">
        <div class="box-header">
          Ratings
        </div>
        <div class="box-body">
          UX: 2/5<br>
          UI: 2/5<br>
          Accessibility: 3/5
        </div>
      </div>
      <p>Private Internet Access is the most popular VPN service on the internet today. It’s fast, reliable, and full of useful features. However, it doesn’t do a very good job of being accessible to the average non-technological user because its user experience is broken and very flawed, from downloading the app to connecting to a VPN server. </p>

      <p>While the service itself is nearly flawless, the design and experience issues bring its overall ease of use for most people down quite a bit which makes it far from the ideal VPN app.</p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-4">
      <h3><a href="http://nordvpn.com">NordVPN</a></h3>
      <div class="box">
        <div class="box-header">
          Ratings
        </div>
        <div class="box-body">
          UX: 3/5<br>
          UI: 3/5<br>
          Accessibility: 2/5
        </div>
      </div>
      <p>NordVPN is likely the second most popular consumer VPN service on the web today. It is fairly well designed and seems fully considered in all respects. However, it seems that their target audience is people who already know what a VPN is and who are comfortable with technology and internet privacy techniques. This makes it a little less accessible for the average user.</p>
    </div>
  </div>

  <hr>

  <div class="row center-xs">
    <div class="col-xs-12 col-sm-6">
      <h1 class="u-font-center">User Personas</h1>
      <p>The competitive analysis helped me gather a little more empathy for users who might find these VPN apps confusing and difficult to use. So I put together a couple varied user personas to remind me who it is I'm designing this app for, and to keep me from straying into features that are too advanced for most users or have smaller use-cases.</p>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12 col-sm-10">
      <%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/persona1.png", :border => true }) %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/persona2.png", :border => true }) %>
    </div>
  </div>

  <hr>

  <div class="row center-xs">
    <div class="col-xs-12 col-sm-6">
      <h1 class="u-font-center">Faraday iOS and macOS Apps</h1>
      <p>The apps went through numerous iterations but is meant to create a space where the terms and technologies behind Faraday VPN can be hidden so that users can be assured that they and their connections are secure without worrying about how it works.</p>
      <h3>Business Model</h3>
      <p>The business model for Faraday is simple: it's free to use the app and have Faraday intelligently choose the closest, fastest server location; if you want to choose your own locations, use the Faraday Kill Switch, or use a custom server, you need to upgrade to pro.</p>
      <p>This made the app accessible and simple, while still allowing more advanced users like my ideal user to upgrade and access extra features.</p>
      <h3>Features</h3>
      <div class="box">
        <div class="box-header">
          Basic Features
        </div>
        <div class="box-body">
          Connect for free to Faraday VPN using Smart Location<br><br>
          Secure, fast connections<br><br>
          No logging, ever.
        </div>
      </div>
      <div class="box">
        <div class="box-header">
          Pro Features
        </div>
        <div class="box-body">
          <strong>Faraday Killswitch</strong><br>
          When your Faraday app loses its connection to a VPN server, Faraday shuts down your WiFi connection until the server connection is reestablished. This keeps users safe in the event of a malfunction.<br><br>
          <strong>Location Chooser</strong><br>
          Pro users can choose from any of Faraday's servers and even set a preferred location that the app will connect to automatically on launch.<br><br>
          <strong>Custom Server</strong><br>
          Enter a custom server's IP address, and optionally validate with username and password if the server requires it.<br><br>
          <strong>Faster, more reliable servers</strong><br>
          For the extra cost, users are upgraded to faster and more reliable servers that cost more to run.
        </div>
      </div>
      <hr>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12 col-sm-6">
      <h1 class="u-font-center">iOS App</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Onboarding</h3>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/ios/onboarding/0.png", :border => true }) %>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/ios/onboarding/1.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/ios/onboarding/2.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/ios/onboarding/3.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/ios/onboarding/4.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/ios/onboarding/5.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/ios/onboarding/6.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/ios/onboarding/6a.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/ios/onboarding/6b.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/ios/onboarding/7.png", :border => true }) %></div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Connection View</h3>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/ios/connection-view/0.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/ios/connection-view/1.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/ios/connection-view/1a.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/ios/connection-view/2.png", :border => true }) %></div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Location Changer</h3>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/ios/location-changer/0.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/ios/location-changer/1a.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/ios/location-changer/1b.png", :border => true }) %></div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Settings</h3>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/ios/settings/0.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/ios/settings/0a.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/ios/settings/1.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/ios/settings/2.png", :border => true }) %></div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Upgrade Onboarding</h3>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/ios/upgrade/0.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/ios/upgrade/1.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/ios/upgrade/2.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/ios/upgrade/3.png", :border => true }) %></div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Pro Screens</h3>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/ios/pro/settings.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/ios/pro/killswitch-engaged.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/ios/pro/location-changer/0.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/ios/pro/location-changer/1.png", :border => true }) %></div>
  </div>

  <div class="row center-xs">
    <div class="u-clearfix col-xs-12 col-sm-6">
      <hr>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12 col-sm-6">
      <h1 class="u-font-center">macOS App</h1>
      <p>The Mac app interface is essentially the same as the iOS app, reusing common components to boost clarity and open up the possibility of reusing code between iOS and Mac. The userflow also remains the same, with a couple added features on Mac like a keyboard shortcut and the fact that no VPN profile installation is needed.</p>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-10">
      <%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/mac/previews/macbook.png" }) %>
    </div>
    <div class="col-xs-10">
      <%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/mac/previews/macbook2.png" }) %>
    </div>
  </div>

  <hr>


  <div class="row center-xs">
    <div class="col-xs-12 col-sm-6">
      <h1 class="u-font-center">User Testing</h1>
      <p>I tested the app thoroughly with various users throughout the course of this project. Many of those who tested the user were international students who faced internet censorship, blocking, and surveillance in their home countries. These users had an enourmous impact on decisions about the app's feature set, visual design, and user experience design.</p>
      <p><strong>The greatest reward from this project: hearing some of those same international students say they've used many VPN apps but Faraday is the best they've ever seen.</strong></p>
    </div>
  </div>

  <hr>

  <div class="row center-xs">
    <div class="col-xs-12 col-sm-6">
      <h1 class="u-font-center">Illustrations</h1>
      <p>I created a set of illustrations to fit the voice and character of Faraday, making the app more visually enjoyable to use and increasing the accessibility of the onboarding processes.</p>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12 col-sm-10 col-md-8">
      <%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/faraday/illustrations.png" }) %>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12 col-sm-6">
      <h1 class="u-font-center">Summary</h1>
      <p>As VPNs become more necessary during the Trump administration, for those who will oppose him and his policies and for normal citizens who do not want to be spied on by their government, I think it’s crucially important that designers and developers find a way to make this technology more accessible, understandable, and easy to use. After years of hacking before I became a designer, even I still barely understand the interfaces and functions of most VPN applications, and I think that’s quite telling: VPNs have always been made for experts, and now that some newer companies are trying to disrupt this industry they are finding it difficult to find abandon the lingo and confusing geo-skeuomorphic interfaces like globes and map pins, restrictive speed limits and server disconnections, and an overload of technological features that most people will never need.</p>

      <p>With Faraday, I did my best to bridge this gap of usability and reliability, trustworthiness and ease of use. All along the way I kept technology possiblities in mind while I designed the interface so that I can retain the possibility of actually building this applciation one day soon if I find a developer to work with me on it. My hope is that the app’s architecture could utilize React Native in order to re-use components across devices and piggyback off an existing reliable VPN by creating an alternative interface for their already strong and safe infrastructure.</p>
    </div>
  </div>
</div>
