---
title: Logos and Marks
scope: "Identity, Type Design"
intro: "This is a collection of logos and marks that I've designed for various companies as well as for side projects. Some were just for fun or experimentation."
context: "Client projects and visual explorations over the last year and a half."
filters: item-logo
grid_width: w3
priority: 12
---
<div class="row center-xs tight-gutter">
  <div class="col-xs-12 col-sm-6">
  <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/field-scout.png" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
  <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/id.png" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
  <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/landgasthof.png" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
  <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/mint.png" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
  <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/wings.png" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
  <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/poc.png" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
  <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/reach.png" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
  <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/rosewater.png" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
  <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/salestrainerin.png" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
  <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/storgaard-media.png" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
  <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/crown2.png" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
  <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/boulder.png" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
  <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/nast.png" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/apotheo-800.gif" }) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/bear-800.jpg", :border => true }) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/blackbird-800.png" }) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/books-800.jpg" }) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/chevron-800.png" }) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/d-800.jpg", :border => true }) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/eagle.jpg" }) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/hammer-axe.jpg", :border => true }) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/lion.jpg" }) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/ministry-800.jpg", :border => true }) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/royal-courier-800.jpg" }) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/royale-800.gif", :border => true }) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/s-800.jpg", :border => true }) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/squire-800.jpg", :border => true }) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/squire-lettermark-800.jpg", :border => true }) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/sshhh.jpg", :border => true }) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/sword.jpg", :border => true }) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/the-guild-800.jpg" }) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/usa-800.jpg" }) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/logos-and-marks/zenworks-800.jpg" }) %>
  </div>
</div>
