---
title: "Flux"
scope: Identity Design
intro: "Flux is a speaker series held annually at Cabaret Voltaire in Zürich, Switzerland, exploring the ideas of change, morphology, process, and pedagogy in the work of thinkers, artists, and designers."
filters: item-branding, item-print
grid_width: w3
priority: 3
---
<div class="container">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-9 col-md-7 col-lg-8 u-font-center">
        <div class="c-colored_section" style="height: 200px; background-color: #EB463A">
        <svg width="250px" viewBox="222 311 407 117" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M503.364,375.8538 L503.364,314.2878 L498.654,314.2878 L498.654,314.2878 L483.533,314.2878 L483.533,375.8538 C483.533,393.2338 469.393,407.3728 452.014,407.3728 C434.634,407.3728 420.496,393.2338 420.496,375.8538 L420.496,314.2878 L400.666,314.2878 L400.666,375.8538 C400.666,404.1678 423.7,427.2028 452.014,427.2028 C480.328,427.2028 503.364,404.1678 503.364,375.8538 L503.364,375.8538 Z M336.042,312.0858 L316.211,312.0858 L316.211,425.0008 L395.589,425.0008 L395.589,405.1708 L336.042,405.1708 L336.042,312.0858 Z M222,424.9148 L241.831,424.9148 L241.831,376.8438 L290.692,376.8438 L290.692,357.0138 L241.831,357.0138 L241.831,331.8298 L301.379,331.8298 L301.379,311.9998 L222,311.9998 L222,424.9148 Z M628.5,325.3248 L613.704,312.0858 L571.964,355.2278 L528.823,312.0858 L514.805,325.3248 L557.635,368.1548 L514.805,411.7628 L528.823,425.0008 L571.263,381.7818 L614.483,425.0008 L628.5,411.7628 L585.67,368.9328 L628.5,325.3248 Z" id="Fill-1" stroke="none" fill="#ffffff" fill-rule="evenodd"></path>
        </svg>
      </div>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12 col-sm-6">
      <h1 class="u-font-center">Brand</h1>
      <p>Flux is a hypothetical conference celebrating change, morphology, pedagogy, learning, and creative practice. The brand is influenced by the Swiss design style with a modern and slightly playful twist meant to make a concept that could be perceived as dull a little bit more exciting.</p>
      <p>The conference brings together many artists and designers from various backgrounds to speak about the effects of change, growth, and morphology in their creative processes and work through a lens of things they have learned and how those things were taught to them.</p>
      <p>The name of the conference and its visual identity were inspired by the Fluxus artistic movement, one with which I am very familiar and strongly identify with in my artistic and sculptural practices. Following the lineage of Fluxus, I decided to create a modernist evolution of core principles of destruction, deconstruction, invention, and constant change.</p>
      <hr>
      <h1 class="u-font-center">Pattern</h1>
      <p>The Flux pattern is created generatively using a desconstruction of the custom logotype. The logotype is constructed from only basic shapes: a single half circle in combination with horizontal, vertical, and diagonal lines.</p>
      <p>After the deconstruction, the shapes are affected by various Illustrator scripts I wrote for the project to create a generative pattern, and then adjusted by hand to lighten the pattern and give more human touch so it doesn't feel as cold.</p>
      <br>
      <svg viewBox="240 123 370 493" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path d="M355.7925,188.108 L364.6645,194.211 L399.3865,143.733 L390.5145,137.63 L355.7925,188.108 Z M604.9752,464.2915 L596.2392,457.9965 L560.4232,507.7045 L569.1602,513.9995 L604.9752,464.2915 Z M252.2916,502.4644 L254.6726,512.9664 L314.4226,499.4204 L312.0416,488.9194 L252.2916,502.4644 Z M347.5582,544.7241 L358.3212,544.3901 L356.4192,483.1531 L345.6562,483.4871 L347.5582,544.7241 Z M537.6109,128.6431 L536.5739,139.3611 L597.5549,145.2621 L598.5919,134.5441 L537.6109,128.6431 Z M344.5694,359.1499 L371.9044,376.4219 L377.6564,367.3189 L350.3214,350.0459 L344.5694,359.1499 Z M457.0084,138.9639 L425.2364,132.9569 L423.2354,143.5379 L455.0074,149.5449 L457.0084,138.9639 Z M510.7281,159.7183 L483.3921,142.4473 L477.6401,151.5513 L504.9771,168.8223 L510.7281,159.7183 Z M430.1822,328.9917 L404.4482,309.4137 L397.9282,317.9837 L423.6622,337.5617 L430.1822,328.9917 Z M500.0406,467.8931 L502.2716,500.1511 L513.0146,499.4081 L510.7836,467.1501 L500.0406,467.8931 Z M429.2447,202.4024 L448.9587,184.6454 L441.7517,176.6444 L422.0377,194.4014 L429.2447,202.4024 Z M594.5552,399.2906 L581.7122,422.5076 L591.1352,427.7196 L603.9782,404.5026 L594.5552,399.2906 Z M249.6339,378.4527 L260.2969,402.7477 L270.1569,398.4197 L259.4939,374.1247 L249.6339,378.4527 Z M512.2584,409.482 L489.8984,395.201 L484.1014,404.276 L506.4624,418.557 L512.2584,409.482 Z M478.817,353.3233 L484.946,327.5093 L474.469,325.0213 L468.34,350.8363 L478.817,353.3233 Z M250.4161,322.9732 L258.9371,291.7822 L269.3251,294.6192 L260.8031,325.8112 L250.4161,322.9732 Z M278.6006,547.8452 L250.1516,563.2122 L245.0336,553.7382 L273.4826,538.3702 L278.6006,547.8452 Z M429.2603,523.2808 L402.7103,541.7368 L396.5643,532.8948 L423.1143,514.4388 L429.2603,523.2808 Z M244.9732,596.2281 L275.7612,586.3461 L279.0522,596.5991 L248.2642,606.4811 L244.9732,596.2281 Z M355.4913,296.8047 L382.9963,279.8047 L388.6573,288.9637 L361.1533,305.9647 L355.4913,296.8047 Z M538.5338,602.8023 L537.0248,592.1403 L597.7338,583.5483 L599.2428,594.2103 L538.5338,602.8023 Z M481.8375,296.4175 L473.0705,302.6705 L437.4655,252.7545 L446.2325,246.5015 L481.8375,296.4175 Z M562.8199,276.9771 L571.8809,271.1581 L605.0129,322.7491 L595.9529,328.5681 L562.8199,276.9771 Z M327.5328,125.2793 L337.6128,129.0683 L316.0388,186.4613 L305.9598,182.6723 L327.5328,125.2793 Z M399.1822,383.6578 L400.5532,372.9768 L461.3682,380.7848 L459.9962,391.4648 L399.1822,383.6578 Z M592.1324,219.6514 L602.8054,221.0814 L598.3654,254.2154 L587.6944,252.7864 L592.1324,219.6514 Z M420.3882,463.1978 L425.2352,472.8138 L395.3822,487.8598 L390.5352,478.2448 L420.3882,463.1978 Z M269.674,123.9997 L254.218,153.6437 L263.766,158.6217 L279.222,128.9787 L269.674,123.9997 Z M561.8707,214.0601 L556.0747,223.1361 L527.8987,205.1431 L533.6937,196.0681 L561.8707,214.0601 Z M506.9937,259.1177 L507.5407,248.3637 L540.9287,250.0607 L540.3817,260.8147 L506.9937,259.1177 Z M472.2632,229.979 L466.4412,220.92 L494.5642,202.846 L500.3852,211.904 L472.2632,229.979 Z M401.7007,220.5953 L412.4687,220.5543 L412.5947,253.9853 L401.8267,254.0253 L401.7007,220.5953 Z M600.6871,555.8218 L589.9541,556.6838 L587.2761,523.3608 L598.0091,522.4988 L600.6871,555.8218 Z M550.9644,559.9205 L540.5264,562.5695 L532.3014,530.1665 L542.7384,527.5175 L550.9644,559.9205 Z M308.1319,395.0562 L315.1439,386.8842 L340.5139,408.6552 L333.5019,416.8272 L308.1319,395.0562 Z M547.9234,441.7193 C551.4394,450.4773 547.1754,460.4623 538.4174,463.9793 L542.4304,473.9713 C556.6974,468.2423 563.6444,451.9753 557.9154,437.7073 C552.1874,423.4403 535.9194,416.4923 521.6514,422.2213 L525.6634,432.2143 C534.4214,428.6983 544.4064,432.9623 547.9234,441.7193 Z M303.7252,263.7466 C300.9342,254.7316 305.9992,245.1276 315.0152,242.3376 L311.8302,232.0506 C297.1432,236.5966 288.8922,252.2436 293.4382,266.9306 C297.9842,281.6186 313.6312,289.8686 328.3192,285.3226 L325.1352,275.0366 C316.1202,277.8266 306.5152,272.7626 303.7252,263.7466 Z M377.647,587.4341 C386.823,585.2291 396.082,590.8991 398.288,600.0751 L408.758,597.5581 C405.164,582.6091 390.079,573.3711 375.13,576.9641 C360.181,580.5581 350.943,595.6431 354.537,610.5921 L365.007,608.0761 C362.801,598.9001 368.472,589.6401 377.647,587.4341 Z M311.2676,569.941 C319.5946,565.5 329.9816,568.662 334.4226,576.988 L343.9236,571.921 C336.6886,558.355 319.7666,553.205 306.2006,560.439 C292.6336,567.674 287.4836,584.597 294.7186,598.164 L304.2196,593.096 C299.7786,584.769 302.9406,574.381 311.2676,569.941 Z M376.7183,437.7964 C369.1723,443.4634 358.4223,441.9344 352.7553,434.3884 L344.1453,440.8554 C353.3773,453.1494 370.8903,455.6394 383.1843,446.4074 C395.4783,437.1744 397.9693,419.6614 388.7373,407.3674 L380.1263,413.8334 C385.7933,421.3804 384.2643,432.1294 376.7183,437.7964 Z M242.8716,459.7749 L240.9996,449.4729 L316.3116,435.7899 L318.1836,446.0909 L242.8716,459.7749 Z M533.6714,381.7994 L531.6204,371.5314 L606.6844,356.5424 L608.7344,366.8104 L533.6714,381.7994 Z M299.2642,373.8873 L289.7502,369.5173 L321.7012,299.9593 L331.2162,304.3303 L299.2642,373.8873 Z M317.5943,206.7496 L325.2073,199.5626 L377.7533,255.2226 L370.1403,262.4096 L317.5943,206.7496 Z M609.4586,183.2417 L605.7896,193.0477 L534.0986,166.2237 L537.7676,156.4177 L609.4586,183.2417 Z M534.0845,362.1412 L523.6295,362.7062 L519.5005,286.2722 L529.9555,285.7072 L534.0845,362.1412 Z M271.0079,250.6675 L260.6149,251.9365 L251.3409,175.9545 L261.7349,174.6865 L271.0079,250.6675 Z M479.6929,525.7349 L486.8869,533.3419 L431.2719,585.9369 L424.0789,578.3309 L479.6929,525.7349 Z M466.775,493.1773 L456.337,493.9893 L450.398,417.6753 L460.837,416.8633 L466.775,493.1773 Z M509.3033,546.3833 L517.8703,552.4023 L473.8703,615.0363 L465.3033,609.0193 L509.3033,546.3833 Z" id="Combined-Shape" stroke="none" fill="#EB463A" fill-rule="evenodd"></path>
      </svg>
    </div>
  </div>

  <br>

  <div class="row center-xs">
    <div class="col-xs-12 col-md-6">
      <h1 class="u-font-center">Final Poster</h1>
      <p>I decided to design a single poster for the event and it went through numerous iterations as I refined a visual direction.</p>
      <p>The final iteration of the poster perfected the generative pattern structure with addition of manual alteration. It uses a single origin point and "falling" parts of the desconstructed logo to form a visual metaphor for the ideas of origin, learning, entropy, and pedagogy in the realm of creative action.</p>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12 col-md-6"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/flux/posters/poster22.png" }) %></div>
  </div>

  <hr>

  <div class="row center-xs">
    <div class="col-xs-12 col-md-6">
      <h1 class="u-font-center">Booklet</h1>
      <p>An event booklet was also created for the project. This served as a more constrained space within which I could refine and reapply the themes explored in the poster, in a more confined and restricted context. I gave myself a requirement of working with a certain amount of text and working with images and the artists' work in order to apply the visual identity in more eclectic ways.</p>
      <p>In the process of designing the booklet I began to get locked into the type and hierarchy systems that I created, so I decided to ditch the entire thing and go back to the drawing board. Luckily, it yielded much more appropriate results when I reframed and reapproached the booklet.</p>
    </div>
  </div>

  <br>

  <div class="row center-xs">
    <div class="col-xs-12 col-md-8">
      <div data-configid="22605255/42529269" style="width:100%; height:600px;" class="issuuembed"></div>
      <script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
    </div>
  </div>

  <br>

  <div class="row center-xs">
    <div class="col-xs-12"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/flux/photos/15.jpg", :border => true }) %></div>

    <div class="col-xs-12 col-md-6"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/flux/photos/2.jpg", :border => true }) %></div>

    <div class="col-xs-12 col-md-6"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/flux/photos/3.jpg", :border => true }) %></div>

    <div class="col-xs-12 col-md-6"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/flux/photos/4.jpg", :border => true }) %></div>

    <div class="col-xs-12 col-md-6"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/flux/photos/13.jpg", :border => true }) %></div>

    <div class="col-xs-12 col-md-6"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/flux/photos/5.jpg", :border => true }) %></div>

    <div class="col-xs-12 col-md-6"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/flux/photos/16.jpg", :border => true }) %></div>

    <div class="col-xs-12 col-md-6"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/flux/photos/18.jpg", :border => true }) %></div>

    <div class="col-xs-12 col-md-6"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/flux/photos/19.jpg", :border => true }) %></div>
  </div>

  <hr>

  <div class="row center-xs">
    <div class="col-xs-12 col-md-6">
      <h1 class="u-font-center">Poster Explorations</h1>
      <p>These are a few of the milestones in the exporation of the poster design.</p>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12 col-md-4"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/flux/posters/poster2.png", :border => true }) %></div>

    <div class="col-xs-12 col-md-4"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/flux/posters/poster4.png", :border => true }) %></div>

    <div class="col-xs-12 col-md-4"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/flux/posters/poster6.png", :border => true }) %></div>

    <div class="col-xs-12 col-md-4"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/flux/posters/poster7.png", :border => true }) %></div>

    <div class="col-xs-12 col-md-4"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/flux/posters/poster11.png", :border => true }) %></div>

    <div class="col-xs-12 col-md-4"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/flux/posters/poster12.png", :border => true }) %></div>

    <div class="col-xs-12 col-md-4"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/flux/posters/poster14.png", :border => true }) %></div>

    <div class="col-xs-12 col-md-4"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/flux/posters/poster15.png", :border => true }) %></div>

    <div class="col-xs-12 col-md-4"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/flux/posters/poster16.png", :border => true }) %></div>

    <div class="col-xs-12 col-md-4"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/flux/posters/poster18.png", :border => true }) %></div>

    <div class="col-xs-12 col-md-4"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/flux/posters/poster19.png", :border => true }) %></div>

    <div class="col-xs-12 col-md-4"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2016/12/flux/posters/poster.png", :border => true }) %></div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12 col-md-6">
      <h1 class="u-font-center">Outcomes</h1>
      <p>Overall Flux was a really rewarding project to work on. It didn't yield any sort of revolutionary results, nor did I expect it to, but as a self-initiated project meant to refine my skills working with typographic and visual systems, it did its job quite well.</p>
      <p>Not only did the project help me work better and more efficiently with typographic systems in print design, it also helped teach me much more about print production, photo editing, and thematic adaptation for different contexts.</p>
    </div>
  </div>
</div>
