---
title: From Troubled Times
scope: "Editorial Design, Book Design, Cover Design, Writing"
intro: "From Troubled Times is an overarching, ongoing personal project involving art, design, and writing."
filters: item-poster item-print item-sound
priority: 12
---
<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/from-troubled-times/poster-with-sound-no-banner.jpg" }) %>
    <p>
      From Troubled Times is an overarching, ongoing personal project involving art, design, and writing. This project/piece is, more than anything else, a way for me to understand my own humanity, mind, emotions, and inner poetry.
    </p>
    <p>
      Recently, elements of From Troubled Times were chosen by Natalia Arias to be featured in a show in MICA's Bronze Gallery.
    </p>
    <iframe class="lazyload" width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/237313486&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
  </div>
</div>

<div class="row center-xs tight-gutter">
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/from-troubled-times/label.jpg" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/from-troubled-times/poster-closeup.jpg" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/from-troubled-times/poster-sound-doc.jpg" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/from-troubled-times/poster-with-label.jpg" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/from-troubled-times/poster-with-label-closeup.jpg" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/from-troubled-times/me.jpg" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/from-troubled-times/vier.jpg" }) %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/assets/images/2016/07/from-troubled-times/sound-label.jpg" }) %>
  </div>
</div>
