---
title: The Taste of Medina
scope: "Poster Design, Logo Design"
intro: "The Taste of Medina County is an annual food fair put on the United Way of Medina County to support local restaurants."
context: "Designed at Leapwise Media in the summer of 2014."
filters: item-poster item-print item-branding item-logo
priority: 10
---
<div class="row center-xs">
  <div class="col-xs-12 col-sm-8">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/the-taste-of-medina/poster-5.jpg" }) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/the-taste-of-medina/outcome/window.png" }) %>
  </div>
</div>
<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/the-taste-of-medina/outcome/apron.png", :border => true }) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/the-taste-of-medina/outcome/sticker.png" }) %>
  </div>
</div>
<div class="row center-xs">
  <div class="col-xs-12 col-sm-8">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/the-taste-of-medina/outcome/final-colors.svg" }) %>
  </div>
</div>

<div class="row center-xs">
  <% (1..6).reject{ |i| i == 5 }.each do |i| %>
    <div class="col-xs-12 col-sm-6">
      <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/the-taste-of-medina/poster-#{i}.jpg" }) %>
    </div>
  <% end %>
</div>

<div class="row center-xs">
  <% (1..6).reject().each do |i| %>
    <div class="col-xs-12 col-sm-6">
      <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/07/the-taste-of-medina/logo-#{i}.png", :border => true }) %>
    </div>
  <% end %>
</div>
