---
title: "Scanbox"
scope: Product Design, Illustration
intro: "After struggling all my life to organize papers, I decided to design a hypothetical app that makes organizing them a breeze."
filters: item-web-ui
grid_width: w3
priority: 3
---
<div class="container">
  <div class="c-colored_section" style="background-color: #00C3FF">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-9 col-md-7 col-lg-6 u-font-center">
        <svg viewBox="11 10 59 59" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Group-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(11.000000, 10.000000)">
            <path d="M35.4309989,1.34385624 C22.7380869,-1.35410551 9.90358938,4.69130505 3.82653839,15.9376618 C2.51638318,18.3622709 1.55293846,20.9759426 0.968856236,23.7238334 C-1.044595,33.1963767 1.77867881,42.8745381 8.3160399,49.772312 C12.3277196,54.0051606 17.5209494,56.9472211 23.3488334,58.1859761 C39.0453513,61.522374 54.4745782,51.5025169 57.8109761,35.8059989 C59.2551209,29.0118319 58.2282416,22.0756493 55.0198919,16.0757948 C54.7960839,15.6572571 54.2753598,15.4993975 53.8568221,15.7232055 C53.4382843,15.9470135 53.2804247,16.4677376 53.5042327,16.8862753 C56.5231211,22.531823 57.488832,29.0548366 56.1297849,35.4486507 C52.990745,50.2166724 38.4742033,59.6438248 23.7061816,56.5047849 C18.2214143,55.3389616 13.3377127,52.5722546 9.56353376,48.5900005 C3.41127457,42.0985596 0.755468293,32.9944756 2.65004743,24.0811816 C3.1999185,21.4942416 4.10631237,19.0353397 5.33864985,16.7547423 C11.0555929,6.17481117 23.1315778,0.486681461 35.0736507,3.02504743 C35.5378988,3.12372641 35.9942414,2.82737407 36.0929204,2.36312594 C36.1915994,1.89887781 35.8952471,1.44253522 35.4309989,1.34385624 Z" id="Oval-3" fill="#FFFFFF"></path>
            <path d="M45.1307535,46.0656659 C52.4186963,39.0277813 54.1090828,28.0810535 49.4827299,19.2373365 C48.4853116,17.3306757 47.2141706,15.5659395 45.6906659,13.9883042 C40.4384783,8.54950473 32.9412607,6.15147366 25.6226127,7.37138246 C21.1313015,8.12001663 16.9593898,10.1971145 13.6133042,13.4283918 C4.60076984,22.1316951 4.3500885,36.4932191 13.0533918,45.5057535 C16.8204536,49.4066602 21.758687,51.7704101 27.0428988,52.3132082 C27.5150341,52.3617063 27.937091,52.0182805 27.9855891,51.5461451 C28.0340871,51.0740097 27.6906613,50.6519529 27.2185259,50.6034548 C22.3339931,50.101712 17.7724973,47.9182925 14.2897571,44.3118094 C6.24585089,35.9821007 6.4775396,22.7086633 14.8072483,14.6647571 C17.9010023,11.6771535 21.7544535,9.75860974 25.9052037,9.06674198 C32.6716401,7.93887857 39.5992792,10.1547265 44.4543006,15.1822483 C45.8635017,16.6415187 47.0382351,18.2724114 47.9597775,20.0340281 C52.2350083,28.2065415 50.6725775,38.324645 43.9368094,44.8293006 C43.5953966,45.1589992 43.5859002,45.7030425 43.9155988,46.0444553 C44.2452974,46.3858682 44.7893406,46.3953645 45.1307535,46.0656659 Z" id="Oval-3" fill-opacity="0.616649683" fill="#FFFFFF"></path>
            <path d="M29.786251,30.8862515 C30.9450012,31.0662515 31.3612513,31.2125015 31.8787514,31.6625016 C32.3962515,32.1237517 32.6550015,32.8325018 32.6550015,33.6762519 C32.6550015,35.5550022 31.2150013,36.6350024 28.8637509,36.6350024 C27.3000006,36.6350024 26.2875005,36.3087524 25.0950003,35.3975022 C24.7912502,35.1612522 24.4875002,35.0375022 24.2962501,35.0375022 C24.0937501,35.0375022 23.9137501,35.1050022 23.7675,35.2512522 C23.59875,35.4200022 23.53125,35.6337523 23.53125,35.8362523 C23.53125,36.2525024 23.82375,36.5337524 24.2512501,36.8150024 C25.6912504,37.7825026 26.8162505,38.1650027 28.8075009,38.1650027 C32.1487514,38.1650027 34.3537518,36.4212524 34.3537518,33.6200019 C34.3537518,32.3037517 33.8812517,31.1787515 33.0150016,30.4475014 C32.3400014,29.8625013 31.5750013,29.5700013 30.0787511,29.3337512 L28.3125008,29.0637512 C27.2662506,28.9062512 26.7375005,28.6700011 26.1637504,28.186251 C25.6575003,27.758751 25.4212503,27.1175009 25.4212503,26.3075007 C25.4212503,24.5412504 26.6700005,23.3600002 28.8187509,23.3600002 C30.1237511,23.3600002 30.8775012,23.5850003 31.9575014,24.3162504 C32.2387514,24.4962504 32.5087515,24.6312505 32.7450015,24.6312505 C32.9812515,24.6312505 33.1387516,24.5525004 33.2850016,24.3837504 C33.4200016,24.2375004 33.4762516,24.0687504 33.4762516,23.8775003 C33.4762516,23.5175003 33.1837516,23.2250002 32.8125015,23.0000002 C31.4512513,22.1675 30.5400011,21.875 28.8862509,21.875 C25.7250004,21.875 23.75625,23.6637503 23.75625,26.3862507 C23.75625,27.6462509 24.1500001,28.6250011 24.9937502,29.3675012 C25.8150004,30.0987513 26.6700005,30.4025014 27.9075007,30.5937514 L29.786251,30.8862515 Z" id="S" fill="#FFFFFF"></path>
          </g>
        </svg>
      </div>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12 col-sm-7 col-md-6">
      <p>For as long as I can remember I’ve had problems keeping papers organized: they get lost, ripped, crumpled, stuffed in backpacks, spilled on, out of order, and mixed up.</p>
      <p>For me, papers from classes, meetings, assignments, clients, and every other possible source have become a curse on my productivity and on my sanity.</p>
      <p>So, as a response to the solo app assignment, after struggling to ideate on a few other possible apps, it dawned on me that I may be able to design a thoughtful solution to my own problem.</p>
      <p>So, Scanbox was born.</p>
    </div>
  </div>

  <div class="row top-xs">
    <div class="col-xs-12">
      <%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/iphone.jpg" }) %>
    </div>
  </div>

  <hr>

  <div class="row center-xs">
    <div class="col-xs-12 col-sm-6">
      <h1 class="u-font-center">Competitive Analysis</h1>
      <p>As usual when starting out new projects, I started this with a competitive analysis. It turns out there are a lot of apps out there doing certain things very well, but none of them are perfect and none of them are good at Scanbox's core feature: scanned document organization.</p>
      <hr>
    </div>
  </div>

  <div class="row center-xs u-font-sans">
    <div class="col-xs-12 col-sm-7 col-md-4">
      <h3>Evernote Scannable</h3>
      <div class="box">
        <div class="box-header">
          Ratings
        </div>
        <div class="box-body">
          UX: 2/5<br>
          UI: 3/5
        </div>
      </div>
      <p>Evernote Scannable is a document scanning app from Evernote. From my testing, the design is confusing and the functionality is even more confusing. The scanner works, but seems pointless for the purposes I wanted because you need an external service (Evernote) in order to organize documents—and you have to do all the organization yourself.</p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-4">
      <h3>Evernote</h3>
      <div class="box">
        <div class="box-header">
          Ratings
        </div>
        <div class="box-body">
          UX: 3/5<br>
          UI: 4/5
        </div>
      </div>
      <p>Evernote is another mystery—it seems they have a scanning feature built in, but it's a premium feature so I wasn't able to test it, and they have a separate product that does the same thing. However, without testing the scanning feature, I can make the observations that there seem to be many steps to achieve a simple action and the organization structure is not quite as simple as I would like.</p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-4">
      <h3>Scanbot</h3>
      <div class="box">
        <div class="box-header">
          Ratings
        </div>
        <div class="box-body">
          UX: 4/5<br>
          UI: 5/5
        </div>
      </div>
      <p>Scanbot is one of the most popular scanner apps for iOS, and is certainly the best around. The UI and UX are both pretty impeccable, and the recent redesign make some more bold moves. The only UX issues I could find were in edge use cases or where a user makes a mistake. However, the organization feature was a pain to use and felt like an afterthought.</p>
    </div>
  </div>

  <hr>

  <div class="row center-xs">
    <div class="col-xs-12 col-sm-6">
      <h1 class="u-font-center">User Persona</h1>
      <p>For this app I only created one user persona, as I was still gaining my footing in the realm of user testing, research, and product strategy.</p>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12 col-sm-8">
      <%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/persona.png", :border => true }) %>
    </div>
  </div>

  <hr>

  <div class="row center-xs">
    <div class="col-xs-12 col-sm-6">
      <h1 class="u-font-center">Feature Set</h1>
      <p>After completing initial user testing on various low-fi mockups, finishing competitive analysis, and developing a user perona, I began mapping out the feature set for Scanbox.</p>
      <div class="box">
        <div class="box-header">
          Primary Features
        </div>
        <div class="box-body">
          Document scanning (automatic and manual shutter)<br><br>
          Intelligent document organization<br><br>
          Intelligent document naming
        </div>
      </div>
      <hr>
    </div>
  </div>

  <div class="row center-xs u-center-vertical">
    <div class="col-xs-12 col-sm-3">
      <%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/scanbox/1.png", :border => true }) %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="u-vertical-center">
        <h3>Intelligent Document Organization</h3>
        <p>Scanbox intelligently organizes your documents into "Stacks". This feature would work through artificial intelligence based on location data, calendar events, contacts, date and time, and other contextual information to guess where a newly scanned document should be placed.</p>
        <p>This process makes organizing documents painless and is entirely tuneable by the user through the app's settings.</p>
      </div>
    </div>
  </div>

  <div class="row center-xs u-center-vertical">
    <div class="col-xs-12 col-sm-6">
      <div class="u-vertical-center">
        <h3>Intelligent Document Naming</h3>
        <p>The app leverages the document organization system to intelligently name documents. By default this feature is on, so that when a user scans a document, it is more likely to have a relevant name to prevent extra work from the user in the long run. This feature can also be tweaked in the settings.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/scanbox/9.png", :border => true }) %>
    </div>
  </div>

  <div class="row center-xs u-center-vertical">
    <div class="col-xs-12 col-sm-3">
      <%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/scanner/2.png", :border => true }) %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="u-vertical-center">
        <h3>Document Scanning</h3>
        <p>Scanbox uses established patterns from other document scanning apps that work very well. The scanning process is also intelligent, automatically snapping scans to the bounds of a document in physical space in order to account for skew, crumples, folds, and camera angle. The user can optionally scan multiple pages of a document at once to make the entire process seamless.</p>
      </div>
    </div>
  </div>

  <hr>

  <div class="row center-xs">
    <div class="col-xs-12 col-sm-6">
      <h1 class="u-font-center">Screens</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Onboarding</h3>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/onboarding/1.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/onboarding/2.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/onboarding/3.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/onboarding/4.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/onboarding/5.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/onboarding/6.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/onboarding/7.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/onboarding/8.png", :border => true }) %></div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Scanner</h3>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/scanner/1.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/scanner/2.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/scanner/3.png", :border => true }) %></div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Document</h3>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/document/1.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/document/2.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/document/3.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/document/4.png", :border => true }) %></div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Scanbox</h3>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/scanbox/1.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/scanbox/2.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/scanbox/3.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/scanbox/4.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/scanbox/5.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/scanbox/6.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/scanbox/7.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/scanbox/8.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/scanbox/9.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/scanbox/10.png", :border => true }) %></div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Settings</h3>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/settings/1.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/settings/2.png", :border => true }) %></div>

    <div class="col-xs-6 col-sm-4 col-md-3"><%= partial("partials/lazyimg", :locals => { :img => "https://devinhalladay.imgix.net/2017/01/scanbox/screens/settings/3.png", :border => true }) %></div>
  </div>
  </div>
