---
title: Conceptual Art
page_class: project
---
<section class="hero hero--project">
  <a href="/" class="return-link"><span></span> Back home</a>
  <h1 class="hug"><span class="nav-theory"><%= current_page.data.title %></span></h1>
  <h2 class="hug">My art practice attempts to develop a holistic critical inquiry into the condition of the contemporary world and mind, utilizing technology and theory to articulate complex philosophies.
 </h2>
</section>

<section class="archive gc-spill">
  <% blog.articles.group_by {|a| a.date.year }.each do |year, projects| %>
    <div class="archive-group">
      <div class="archive-group-heading"><%= year %></div>
      <div class="archive-group-contents">
        <% projects.each do |project| %>
          <% if project.data.categories && (project.data.categories.include? "internet") %>
            <div class="archive-project <%= project.data.filters %>">
              <a href="<%= project.url %>">
                <header>
                  <div class="left">
                    <div class="thumbnail-wrapper">
                      <img src="<%= project.data.cover_image %>" alt="">
                    </div>
                    <div class="project-meta">
                      <h2><%= project.title %><span>&rarr;</span></h2>
                    </div>
                  </div>
                  <% if project.data.external_url %>
                    <div class="right">
                      <a target="_blank" href="<%= project.data.external_url %>" class="button btn-small">View site</a>
                    </div>
                  <% end %>
                </header>
              </a>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</section>