---
title: Software Design
---
<section class="hero hero--project">
  <a href="/" class="return-link"><span></span> Back home</a>
  <h1 class="hug"><span class="nav-products"><%= current_page.data.title %></span></h1>
  <h2 class="hug">My software design practice specializes in advanced decomp of complex problem spaces using theory and systems. Recent developments in my practice have evaluated the applications and efficacy of cybernetic theory.</h2>
</section>

<section class="gc-main">
  <h2 class="hug">Featured Case Studies</h2>
  <div class="block block-gallery medium-margin">
    <div class="gallery-highlight"></div>
    <% blog.articles.select {|p| p.data.featured && ((defined? p.data.categories == String) && (p.data.categories.include? "software")) }.each do |project| %>
      <div class="gallery-slide">
        <a href="<%= project.url %>">
          <div class="image" style="background-image: url(<%= project.data.cover_image %>)"></div>
          <div class="caption">
            <div class="title--block">
              <%= project.title %>
            </div>
            <div class="meta--block">
              <%= project.data.scope %>
            </div>
          </div>
          <p class="carousel-status"></p>
        </a>
      </div>
    <% end %>
  </div>
  <h2 class="distance">Employers</h2>
  <div class="marquee3k hug" data-speed="1.4" data-pausable="true">
    <div class="marquee-contents">
      <a target="_blank" href="https://quora.com/"><img src="/assets/images/employer-logos/quora-logo.svg" alt="Quora"></a><a target="_blank" href="https://palantir.com/"><img src="/assets/images/employer-logos/palantir-logo.svg" alt="Palantir"></a><a target="_blank" href="http://64robots.com/"><img src="/assets/images/employer-logos/64robots-logo.svg" alt="64 Robots"></a><a target="_blank" href="http://friendsoftheweb.com/"><img src="/assets/images/employer-logos/ftw-logo.svg" alt="Friends of the Web"></a>
    </div>
  </div>
  <small class="hug meta">Much of the above work is under NDA. Please contact me for a private portfolio review.</small>
</section>

<section class="archive gc-spill">
  <h2>The Works</h2>
  <% blog.articles.select { |a| (defined? a.data.categories == String) && (a.data.categories.include? "software") }.group_by {|a| a.date.year }.each do |year, projects| %>
    <div class="archive-group">
      <div class="archive-group-heading"><%= year %></div>
      <div class="archive-group-contents">
        <% projects.each do |project| %>
          <div class="archive-project">
            <a href="<%= project.url %>">
              <header>
                <div class="left">
                  <div class="thumbnail-wrapper">
                    <img src="<%= project.data.cover_image %>" alt="">
                  </div>
                  <div class="project-meta">
                    <h2><%= project.title %><span>&rarr;</span></h2>
                  </div>
                </div>
                <% if project.data.external_url %>
                  <div class="right">
                    <a target="_blank" href="<%= project.data.external_url %>" class="button btn-small">View site</a>
                  </div>
                <% end %>
              </header>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</section>