<section class="hero">
  <p class="byline hug">Always Forward</p>
  <h1 class="hug">
    <a href="/about">Devin Halladay</a> is a designer working in the space between <span class="text-hoverable invoker invoker--culture">culture</span>, <span class="text-hoverable invoker invoker--politics">politics</span>, and <span class="text-hoverable invoker invoker--technology">technology</span>.
    He specializes in <span class="nav-products">software</span> and <span class="nav-systems">identity</span> design. He writes <span class="nav-theory">critical theory</span> on <a target="_blank" href="https://infinitecaesura.com">Infinite Caesura</a>.
  </h1>
  <a href="/contact" class="button button-forward">Get in touch</a>
</section>

<section class="gc-main">
  <div class="h2">Featured Case Studies</div>
  <div class="block block-gallery medium-margin">
    <% blog.articles.select {|p| p.data.featured }.each do |project| %>
      <div class="gallery-slide">
        <a href="<%= project.url %>">
          <div class="image" style="background-image: url(<%= project.data.cover_image %>)"></div>
          <div class="caption">
            <div class="title--block">
              <%= project.title %>
            </div>
            <div class="meta--block">
              <%= project.data.scope %>
            </div>
          </div>
          <p class="carousel-status"></p>
        </a>
      </div>
    <% end %>
  </div>
</section>

<div class="selected-images gc-spill">
  <div class="h2">Selected Images</div>

  <% Dir.glob(config[:source] + '/selected-images/*') do |filename| %>
    <img class="masonry-block" src="<%= filename.gsub!('source/', '/') %>">
  <% end %>
</div>

<section class="archive gc-spill">
  <div class="h2">Index of Case Studies</div>

  <nav>
    <button type="button" data-filter="all">All</button>
    <button type="button" data-filter=".interaction">Web & Interaction</button>
    <button type="button" data-filter=".identity">Brand Identity</button>
    <button type="button" data-filter=".print">Print</button>
  </nav>

  <% blog.articles.group_by {|a| a.date.year }.each do |year, projects| %>
    <div class="archive-group">
      <div class="archive-group-heading"><%= year %></div>
      <div class="archive-group-contents">
        <% projects.each do |project| %>
          <div class="archive-project <%= project.data.filters %>">
            <a href="<%= project.url %>">
              <header>
                <div class="left">
                  <div class="thumbnail-wrapper">
                    <img src="<%= project.data.cover_image %>" alt="">
                  </div>
                  <div class="project-meta">
                    <h2><%= project.title %><span>&rarr;</span></h2>
                    <div class="meta"><%= project.data.scope %></div>
                  </div>
                </div>
                <% if project.data.external_url %>
                  <div class="right">
                    <a target="_blank" href="<%= project.data.external_url %>" class="button btn-small">View site</a>
                  </div>
                <% end %>
              </header>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</section>
