---
blog: work
---
<div class="row xs-border-right">
  <div class="col-xs-12 col-sm-6">
    <div class="intro-section">
      <h1>Devin<br>Halladay</h1>
      <hr class="hr-vertical">
      <p><strong>Multidisciplinary designer &amp; writer by day.</strong> <br> Sculptor and sound artist by night.</p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="c-index-profile-image grain-effect"></div>
  </div>
</div>

<div class="row xs-border-right">
  <div class="col-xs-12 col-sm-6">
    <div class="c-cta-section">
      <div>
        <p>I'm currently <strong class="<%= data.profile.availability %>"><%= data.profile.availability %></strong> for work.</p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <a href="/contact" class="button">Hire me!</a>
  </div>
</div>

<%= partial "partials/latest-articles" %>

<%= partial "partials/latest-work" %>

<%= partial "partials/newsletter-form" %>
