---
title: Devin Halladay, Graphic Designer and Writer
---
<div class="row xs-border-right">
  <div class="col-xs-12 col-sm-6">
    <div class="intro-section">
      <h1>Devin<br>Halladay</h1>
      <hr class="hr-vertical">
      <p><strong>Multidisciplinary designer &amp; writer by day.</strong><br>Sculptor and sound artist by night.</p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="c-index-profile-image"></div>
  </div>
</div>

<div class="row xs-border-right">
  <div class="col-xs-12 col-sm-6">
    <div class="c-cta-section">
      <div>
        <p>I'm currently <strong class="available">available</strong> for work.</p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <a href="/contact" class="button">Hire me!</a>
  </div>
</div>

<%= partial("partials/section-title", :locals => { :title => "Latest Articles" }) %>

<section class="c-latest-articles">
  <div class="row">
    <% blog('journal').articles[0...2].each do |article| %>
      <div class="article col-xs-12 col-sm-6">
        <a class="article-title" href="<%= article.url %>">
          <h1><%= article.title %></h1>
        </a>
        <span class="article-date u-font-meta"><%= article.date.strftime('%A %-d %B %Y') %></span>
        <p><%= Nokogiri::HTML(article.summary).text %> <a href="<%= article.url %>">Read more</a></p>
      </div>
    <% end %>
  </div>
</section>

<%= partial("partials/section-title", :locals => { :title => "Selected Work" }) %>

<section class="c-selected-work">
  <div class="row tight-gutter">
    <div class="col-xs-12">
      <div id="filters">
        <div data-filter="all" class="filter-all filter">All</div>
        <% for f in data.filters %>

          <% filters = f.item_class.split %>

          <div <% for filter in filters %>data-filter=".<%= filter %>"<% end %> class="filter"><%= f.title %></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row tight-gutter work">
    <% blog('work').articles.sort_by!{ |work| work.data.priority }.each_with_index do |work, index| %>
      <div class="col-xs-12 col-sm-12 col-md-6 mix <%= work.data.filters.split.join(' ') %>" data-my-order="<%= index + 1 %>">

        <% @dir = "/images/#{work.date.strftime('%Y/%m')}/#{work.title.downcase.gsub(' ', '-')}/cover" %>

        <a href="<%= work.url %>">
          <div class="c-work-overlay">
            <picture>
              <source media="(min-width: 1020px)" srcset="<%= @dir %>/large.png">
              <source media="(min-width: 900px)" srcset="<%= @dir %>/large-sm.png">
              <source media="(min-width: 680px)" srcset="<%= @dir %>/med.png">
              <source srcset="<%= @dir %>/small.png">
              <img alt="<%= work.title %>" srcset="<%= @dir %>/med.png">
            </picture>

            <h2 class="u-font-sans"><%= work.title %></h2>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</section>

<%= partial "partials/newsletter-form" %>
