---
title: Devin Halladay, Designer and Writer
---
<div class="intro-section">
  <h1>Devin<br>Halladay</h1>
  <hr class="hr-vertical">
  <p><strong>Designer &amp; writer.</strong><br>Currently reinventing myself.</p>
</div>

<%= partial "partials/latest-articles" %>

<%= partial("partials/section-title", :locals => { :title => "Selected Work" }) %>

<section class="c-selected-work">
  <% blog('work').articles.each do |work| %>
    <a href="<%= work.url %>">
      <div class="c-work-overlay">
        <picture>
          <source media="(min-width: 1020px)" srcset="/images/<%= work.title.downcase %>/large.jpg">
          <source media="(min-width: 900px)" srcset="/images/<%= work.title.downcase %>/large-sm.jpg">
          <source media="(min-width: 680px)" srcset="/images/<%= work.title.downcase %>/med.jpg">
          <source srcset="/images/<%= work.title.downcase %>/small.jpg">
          <img alt="<%= work.title %>" srcset="">
        </picture>

        <h2 class="u-font-sans"><%= work.title %></h2>
      </div>
    </a>
  <% end %>
</section>

<%= partial "partials/newsletter-form" %>
