---
title: Profile
---
<div class="row">
  <div class="col-xs-12">
    <h1 class="u-font-mega u-font-center c-page-title"><em>I'm different.</em></h1>

    <figure>
      <picture>
        <source media="(min-width: 1020px)" srcset="/images/2016/07/portrait-large.png">
        <source media="(min-width: 900px)" srcset="/images/2016/07/portrait-large-sm.png">
        <source media="(min-width: 680px)" srcset="/images/2016/07/portrait-med.png">
        <source srcset="/images/2016/07/portrait-small.png">
        <img alt="Portrait of Devin Halladay by Julia Fletcher" srcset="">
      </picture>

      <figcaption>Photos courtesy of <a href="http://juliafletcherphoto.com/">Julia Fletcher</a>.</figcaption>
    </figure>
  </div>
</div>

<div class="row xs-border-right xs-enclosed-section">
  <% data.profile.fun_facts.each do |fact| %>
    <div class="col-xs-12 col-sm-4">
      <h3><%= fact.title %></h3>
      <p>
        <%= fact.content.join(", ") %>
      </p>
    </div>
  <% end %>
</div>

<% data.profile.about.each do |section| %>
  <div class="row center-xs">
    <div class="col-xs-12 col-sm-6">
      <h2><%= section.title %></h2>
      <% section.content.each do |p| %>
        <p><%= p %></p>
      <% end %>
    </div>
  </div>
<% end %>

<%= partial("partials/section-title", :locals => { :title => "Services" }) %>

<div class="row xs-border-right center-xs u-font-center">
  <% data.profile.capabilities.each do |capability| %>
    <div class="col-xs-12 col-sm-3">
      <h3 class="u-no-margin"><%= capability.title %></h3>
      <ul class="u-font-unlist">
        <% capability.services.each do |service| %>
          <li><%= service %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
