---
title: Profile
---
<div class="container"><div class="row center-xs">
    <div class="col-xs-12 col-sm-10">
      <h1 class="u-font-mega u-font-center c-page-title">That's me &#8623;</h1>

      <figure>
        <picture>
          <source media="(min-width: 1020px)" srcset="https://devinhalladay.imgix.net/2018/10/profile.jpg">
          <source media="(min-width: 900px)" srcset="https://devinhalladay.imgix.net/2018/10/profile.jpg">
          <source media="(min-width: 680px)" srcset="https://devinhalladay.imgix.net/2018/10/profile.jpg">
          <source srcset="https://devinhalladay.imgix.net/2018/10/profile.jpg">
          <img alt="Portrait of Devin Halladay" srcset="">
        </picture>
      </figure>
    </div>
  </div>

  <% data.profile.about.each do |section| %>
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-6">
        <h2><%= section.title %></h2>
        <% section.content.each do |p| %>
          <p><%= p %></p>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= partial("partials/section-title", :locals => { :title => "Services" }) %>

  <div class="row xs-border-right center-xs u-font-center">
    <% data.profile.capabilities.each do |capability| %>
      <div class="col-xs-12 col-sm-3">
        <h3 class="u-no-margin"><%= capability.title %></h3>
        <ul class="u-font-unlist">
          <% capability.services.each do |service| %>
            <li><%= service %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  
</div>
